@import url(https://fonts.googleapis.com/css?family=Cairo);


body::-webkit-scrollbar{
	width: 0.5em;
}

body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb{
	background-color: #02b2ee;
	outline: 1px solid #02b2ee;
}
body{
	padding-left: 0px !important;
}
.pagesBrowse{
	display: block;
	width: 100%;
	padding: 15px 0;
	margin-bottom: 20px;
	text-align:right;
}
.pagesBrowse span{
	font-family: Cairo, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #adadad;
}
.pagesBrowse span span > a{
	font-family: Cairo, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #333;
	text-decoration: none;
}
.pagesBrowse .pagesBrowseA{
	font-family: Cairo, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #adadad;
	text-decoration: none;
}
.agentImg{
	display: block;
}
.agentImg > img{
	width: 95%;
	height: 230px;
	object-fit: cover;
	object-position: 0 -50px;
	position: relative;
	z-index: 10;
	box-shadow: 0 6px 17px rgba(0,0,0,.1);
}
.agentImg .agentContact{
	position: relative;
	width: 90%;
	float: left;
	height: 275px;
	border: solid 1px #02b2ee;
	margin-top: -200px;
}
.agentContactInner{
	position: absolute;
	width: 80%;
	right: 15px;
	bottom: 15px;
	font-size: 14px !important;
	text-align:center;
}
.agentContactInnerCon{
	position: absolute;
	width: 20%;
	left: 5px;
	bottom: 10px;
	text-align: center;
	transition: transform .3s;
}
.agentContactInnerCon img{
	width: 54px;
	height: 46px;
}
.agentContactInnerCon:hover{
	transform: scale(1.1);
}
.agentContactInner p{
	color: #333;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: Cairo;
	font-size: 18px;
	text-align:center;
}
.agentContactInner p:nth-child(2){
	color: #333;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: Cairo;
	font-size: 14px !important;
	text-align:center;
}
.agentContactInner p span{
	color: #02b2ee;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: Cairo;
	font-size: 14px;
}
.modal-backdrop{z-index: 2100!important}
.modal{
	z-index: 2200 !important;
}
.modal-header{
	padding-bottom: 0px !important;
	padding-top: 7px !important;
}
.modal-body{
	padding-top: 0px !important;
}
.modal-dialog{
	top: 35px !important;
}
#stickyMenu{
	position: absolute;
	text-align: right;
	top: 0;
	width: 100%;
}
#stickyMenu.scroll{
    text-align: right;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: #fff !important;
	padding-bottom: 10px;
	box-shadow: 0 7px 17px 0 rgba(172, 172, 172, 0.2); 
/*	z-index: 2100;*/
	transition: visibility 0s, opacity 0.5s linear;
	padding-top: 0px !important;
}
.bannerPM #stickyMenu.scroll .langContainer{
	margin-top: 0px !important;
}
#stickyMenu.scroll .menuItem{
	color: #333;
}
#stickyMenu.scroll .menuItem:hover{
	color: #02b2ee;
	text-decoration: none;
}
#stickyMenu.scroll .lang-item > a{
	color: #333;
}
#stickyMenu.scroll .lang-item > a:hover{
	color: #02b2ee;
}
#stickyMenu.scroll .langSlash{
	background-color: #333;
}
#stickyMenu.scroll .contactContainer span{
	color: #333;
}
.langContainer .lang-item.current-lang > a{
	color: #fff;
}
#stickyMenu.scroll .lang-item.current-lang > a{
	color: #333;
}
.modal-header{
	border-bottom: 0px !important;
}
.modal-content{
	border: 0px !important;
}
.modalH{
	font-family: Cairo;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
}
.modalPat{
	position: absolute;
	top: 0;
	right: 0;
}
.banner{
	width: 100%;
	/*min-width: 1180px !important;*/
	height: 650px;
	background-color: #333;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home .banner{
	height: 100vh;
	max-height: 860px;
}
.blogBanner{
	background: url(../../images/banner2.jpg) transparent center center no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.bannerAbout{
	background-color: transparent;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	z-index: 1;
}
.full-width_block{
	background-size: auto 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	padding: 50px 0;
	margin-top: 30px;
	min-height: 450px;
	align-items: center;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center left calc(50vw + 203px);
	background-color: #f9f9f9;
}
.full-width_block .container{
	position: relative;
	z-index: 2;
	justify-content: flex-end;
	align-items: flex-end;
	display: flex;
}
.fWbContent{
	color: #333;
	text-align: right;
}
.fwDesc{
	font-family: Cairo;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}
.fwHead{
	margin-bottom: 20px;
}
.fWbContent .vpatLR{
	position: absolute;
	left: 0;
	top: -96px;
}
.bannerPM{
	background: url(../../../images/pm-banner.png) transparent center center no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	z-index: 1;
}
.bannerPM:after{
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	background: #000;
	opacity: .35;
	content: "";
	z-index: 1;
}
.bannerText{
	position: relative;
	z-index: 10;
}
.vpatL{
	position: absolute;
	right: 30px;
	top: -50px;
}
.blogPost{
	background: #fff;
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
	display: flex;
	flex-direction: column;
	height: 100%;
}
.blogPost img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.postContent{
	padding: 25px;
	display: block;
	position: relative;
	flex-grow: 1
}
.blogPostH{
	font-family: Cairo;
	font-size: 20px;
	color: #333;
	line-height: 1.1;
	margin-bottom: 0px;
	transition: color .3s;
}
.blogPostP{
	font-family: Cairo;
	font-size: 15px;
	color: #fff;
	margin-bottom: 0px;
	line-height: 1.3;
	position: absolute;
	top:0;
	right:0;
	padding: 25px 25px 65px;
	transform: translateY(-100%);
	width: 100%;
	opacity: 0;
	margin-top: 40px;
	transition: margin .3s,opacity .4s;
	z-index: 10;
}
.postDate{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #02b2ee;
	color: #fff;
	font-family: Cairo;
	font-size: 14px;
	width: 100px;
	line-height: 40px;
	text-align: center;
	z-index: 5;
}
.postImg, .postVideo{
	position: relative;
	height: 321px;
}
.postImg:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #333;
	z-index: 2;
	opacity: .0;
	transition: opacity .5s;
}
.blogPostL{
	text-decoration: none !important;
	height: 100%;
}
.newsTemlate{
	transition: box-shadow .3s,transform .3s;
}
.blogPostL:hover .newsTemlate{
	transform: translateY(-8px);
	box-shadow: 0 12px 24px 0 rgba(99, 99, 99, 0.15);
}
.blogPostL:hover .postImg:after{
	opacity: .6;
}
.blogPostL:hover .blogPostP{
	opacity: 1;
	margin-top: 0;
}
.blogPostL:hover .blogPostH{
	color: #02b2ee;
}
.postdetails{
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
}
.postdetails h1{
	font-family: Cairo;
	font-size: 35px;
	line-height: 1.1;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
	position: relative;
	padding-bottom: 10px;
}
.postdetails h1::after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 130px;
	border-bottom: solid 3px #02b2ee;
}
.postRead{
	display: block;
	padding-top: 20px;
	padding-bottom: 10px;
}
.postRead.vacancy{
	padding-top: 10px;
	padding-bottom: 20px;
}
.postReadL{
	display: inline-block;
}
.postReadL img{
	margin-top: -2px;
}
.postReadL p{
	display: inline-block;
	font-family: Cairo;
	font-size: 13px;
	color: #adadad;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.postReadL p span{
	color: #646270;
}
.postReadR{
	display: inline-block;
	float: left;
	margin-top: 2px;
}
.postReadR img{
	margin-top: -2px;
}
.postReadR p{
	display: inline-block;
	font-family: Cairo;
	font-size: 13px;
	color: #646270;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 24px;
	line-height: 24px;
}
.postMain{
	display: block;
}
.mainImg{
	width: 100%;
}
.postMain h2{
	font-family: Cairo;
	font-size: 22px;
	color: #333;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
}
.postMain p{
	font-family: Cairo;
	font-size: 14px;
	color: #333;
	padding-bottom: 10px;
}
.postMain strong, .postMain h3{
	font-family: Cairo, sans-serif;
	font-weight: normal;
}
.postMain h3{
	font-size: 18px;
}
.postImages{
	margin-bottom: 20px;
}
.postImages img{
	width: 100%;
}
.postedTime{
	margin-left: 20px;
}
.videoTag iframe{
	width: 100%;
	height: 400px;
}
.nextPrev{
	background-color: #f1f4f5;
	display: block;
	margin-top: 25px;
	padding: 12px 15px 15px;
}
.nextPrev a, .nextPrev a:hover{
	font-family: Cairo;
	font-size: 14px;
	color: #333;
	text-decoration: none !important;
}
.nextPrev a:nth-child(2){
	float: left;
	margin-top: 2px;
}
.nextPrev img{
	margin-top: -3px;
}
.postRating{
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}
.postShare{
	display: inline-block;
}
.postShare span{
	font-family: Cairo;
	font-size: 14px;
	color: #333;
	margin-left: 10px;
}
.postShare .socialIcons{
	display: inline-block;
}
.postReviews{
	display: inline-block;
	float: left;
	margin-top: 5px;
}
.postReviews img{
	margin-top: -2px;
}
.postReviews span{
	font-family: Cairo;
	font-size: 14px;
	color: #adadad;
	margin-right: 10px;
}
.aboutBText{
	display: block;
	padding-top: 100px;
	padding-bottom: 150px;
}
.aboutText1{
	font-size: 22px;
	color: #333;
	font-family: Cairo;
	margin-bottom: 5px;
	text-align:right !important;
}
.aboutHeader{
	font-family: Cairo;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 15px;
	text-align:right !important;
}
.aboutText2{
	font-size: 20px;
	color: #fff;
	font-family: Cairo;
	border-right: solid 4px #02b2ee;
	padding-right: 20px;
	max-width: 800px;
	text-align:right !important;
}
.aboutText3{
	font-size: 20px;
	color: #fff;
	font-family: Cairo;
}
.aboutBlock{
	background-color: #fff;
	border: solid 1px #eee;
	height: 300px;
	padding: 20px 15px;
}
.aboutBlockCont{
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(../../images/about-bg.png) no-repeat center center;
	background-size: 80%;
}
.aboutBlockH{
	display: block;
}
.aboutBlockH img{
	width: 80px;
}
.aboutBlockHL{
	display: inline-block;
	border-bottom: solid 1px #eee;
	width: 70px;
	float: left;
	margin-left: -15px;
	font-size: 20px;
	font-weight: bold;
	color: #02b2ee;
	padding-bottom: 3px;
	font-family: Cairo;
}
.aboutBlockB{
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
}
.aboutBlockBH{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;
	color: #333;
	font-family: Cairo;
}
.aboutBlockBP{
	display: block;
	color: #333;
	font-family: Cairo;
	font-size: 15px;
}
.propertiesRow .col-md-4{
	width: 393px !important;
}
.block2H{
	display: block;
	text-align:right !important;
}
.block2H h2{
	display: inline-block;
	color: #333;
	font-family: Cairo;
	font-size: 36px;
	text-align:right !important;
}
.block2HS{
	width: 80px;
	height: 3px;
	background-color: #02b2ee;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	margin-top: -5px;
}
.block2H p{
	display: block;
	color: #333;
	font-family: Cairo;
	font-size: 24px;
	padding-top: 5px;
	text-align:right !important;
}
.block2H p span{
	color: #333;
	font-family: Cairo;
	font-size: 30px;
	font-weight: bold;
	text-align:right !important;
}
.block2D{
	border-right: solid 1px #d7d7d7;
	display: block;
	margin-right: 10px;
	padding-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 20px;
}
.companyProfile{
	display: block;
	position: relative;
	padding-bottom: 50px;
}
.companyProfile h2{
	font-family: Cairo;
	font-size: 24px;
	color: #02b2ee;
	font-weight: bold;
	text-align:right !important;
}
.companyBullet{
	width: 49px;
	position: absolute;
	right: -75px;
	top: -10px;
}
.companyPP{
	font-family: Cairo;
	font-size: 18px;
	line-height: 30px;
	color: #333;
	padding-top: 7px;
	padding-left: 30px;
	text-align:right !important;
}
.bold{
	font-weight: bold !important;
	font-family: Cairo !important;
}
.companyLogo{
	display: flex;
	max-width: 260px;
	padding: 20px;
	background: #fff;
	box-shadow: 0px 3px 14px rgba(178, 178, 178, 0.15);
	border-top: solid 3px #02b2ee;
	transition: transform .3s, box-shadow .4s;
	min-height: 130px;
	align-items: center;
}
.companyLogo img{
	width: 100%;
	vertical-align: middle;
}
.companyLogo.link:hover{
	box-shadow: 0px 8px 21px rgba(178, 178, 178, 0.25);
	transform: translateY(-7px);
}
.valBtnCont{
	display: block;
	text-align: center;
}
.fWbContent .valBtnCont{
	text-align: right;
}
.bannerValBtn{
	font-family: Cairo;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 25px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	border: 0;
	background: rgb(2,178,238);
	background: linear-gradient(-90deg, rgba(2,178,238,1) 0%, rgba(2,178,238,1) 50%, rgba(0,140,228,1) 50%, rgba(0,140,228,1) 100%);
	background-size: 200% 100%;
	transition: background .3s ease-in-out;
	text-transform: uppercase;
}
.bannerValBtn:hover{
	background-position: 0% 0;
	color: #fff;
	text-decoration: none;
}

.pmBanB{
	display: block;
	text-align: center;
	padding-top: 30px;
}
.advHeadpm span{
	color: #02b2ee;
}
.pmBanB p{
	font-family: Cairo;
	font-size: 20px;
	text-align: center;
	color: #646270;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}
.pmBanB.fullWidth p{
	max-width: 100%;
}
.pmBanB.left p{
	text-align: right;
}
.pmBanB b{
	font-weight: normal;
	font-family: Cairo;
	color: #333;
}
.reviewBlock{
	width: 890px;
	margin-right: auto;
	margin-left: auto;
	background: url(../../images/about-bg.png) no-repeat center center;
	background-size: cover;
	margin-top: 50px;
}
.reviewCont{
	display: block;
	width: 100%;
	padding-top: 30px;
}
.reviewL{
	display: inline-block;
	width: 170px;
	text-align: center;
	vertical-align: top;
}
.reviewL img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	border-radius: 50%;
}
.reviewR{
	display: inline-block;
	width: 710px;
}
.reviewR p{
	font-family: Cairo;
	font-size: 18px;
	line-height: 26px;
	color: #333;
	padding-left: 30px;
	margin-bottom: 0px;
}
.reviewComa{
	margin-top: -10px;
	margin-right: -5px;
}
.reviewSign{
	display: block;
	width: 100%;
	text-align: right;
	padding: 5px 30px 20px;

}
.reviewSign p{
	font-family: Cairo;
	font-size: 18px;
	line-height: 26px;
	color: #333;
	display: inline-block;
}
.reviewSignSlash{
	display: inline-block;
	width: 50px;
	height: 1px;
	vertical-align: middle;
	background: #02b2ee;
	margin-left: 15px;
}
.advRow .col-md-3, .abtRow .col-md-3, .footer .col-md-3{
	width: 295px !important;
	text-align:right;
}

.awardRow .col-md-3{
	width: 295px !important;
	text-align:left;
}

.contactFtContainer .col-md-7{
	width: 688px !important;
}
.contactFtContainer .col-md-5{
	width: 491.5px !important;
}
.footer .col-md-2, .copyRightCont .col-md-2{
	width: 196.5px !important;
	text-align:right;
}
.copyRightCont .col-md-8{
	width: 786.5px !important;
}
.container{
	max-width: 1180px !important;
}
header{
	padding-top: 20px;
}
.hline{
	display: block;
	border-bottom: solid 1px #eee;
	height: 2px;
	width: 100%;
	margin-right: 15px;
	margin-left: 15px;
}
.copyRightCont{
	padding-top: 20px;
	display: block;
}
.copyRightCont .col-md-2, .col-md-3{
	vertical-align: top;
}
.copyRightCont p{
	font-family: Cairo;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: normal;
	color: #646270;
}
.pageHeader:not(body){
	border-bottom: solid 1px #eee;
	padding-bottom: 20px;
}
/*.pageHeader .sellPropertyBtn,*/
/*.pageHeader .sellPropertyBtn:hover{*/
/*	padding-left: 50px;*/
/*	padding-right: 50px;*/
/*}*/
.pageHeader .menuItem, .pageHeader .lang-item.current-lang > a{
	color: #333;
}
.pageHeader .menu-item-has-children > .menuItem::after, .pageHeader .lang-item.current-lang > a:after {border-color: #333}
.pageHeader .contactContainer span{
	color: #333;
}
.copyRightCont a{
	font-family: Cairo;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: normal;
	color: #646270 !important;
	text-decoration: underline;
	vertical-align: top;

}
.logoContainer{
	width: 190px;
	height: 46px;
	vertical-align: middle;
	display: flex;
	align-content: center;
}
.logoContainer > img{
	width: 100%;
}
.menusContainer{
	display: inline-block;
	width: 75%;
	flex-basis: 55%;
	height: auto;
	/*max-width: 373px;*/
	padding-right: 5px;
}
.bannerPM .menusContainer{
	display: inline-block;
	padding-right: 50px;
}
.menuItem{
	font-family: Cairo;
	font-size: 20px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	text-align: right;
	color: #fff;
	text-decoration: none;
	margin-left: 25px;
	transition: color .5s;
}
.sub-menu .menuItem{
	font-family: Cairo;
}
.bannerPM .menuItem{
	font-family: Cairo;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
}
.menuItem:hover{
	color: #02b2ee;
	text-decoration: none;
}
.menu-item-has-children > .menuItem{padding-right: 15px; position: relative}
.menu-item-has-children > .menuItem:after{
	display: block;
	width: 7px;
	height: 7px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(-45deg);
	margin-left: 3px;
	content: "";
	position: absolute;
	top: 1px;
	right: 2px;
}
#stickyMenu.scroll .menu-item-has-children > .menuItem:after{border-color: #333}
.menu-item-has-children > .menuItem:hover:after{
	border-color: #02b2ee !important;
	transform: rotate(135deg);
	top: 4px;
}

.langContainer{
	display: inline-block;
	/*padding-left: 50px;*/
}
.bannerPM .langContainer{
	display: inline-block;
	padding-right: 0px;
	float: left;
	margin-top: 5px;
}
.langEl{
	position: relative;
	height: 25px;
	/*display: inline-block;*/
	display: none;
	margin-right: 20px;
	width: 80px;
}
.langSwicher{
	position: absolute;
	overflow: hidden;
	max-height: 35px;
	list-style: none;
	width: 80px;
	margin: 0;
	top: -2px;
	padding: 5px 0;
	border-radius: 6px;
	transition: max-height .3s, box-shadow .3s, background .3s;
	transition-delay: .2s;
}
.lang-item{padding: 0 10px}
.langSwicher.show{
	background: #fff;
	max-height: 100px;
	box-shadow: 0 4px 12px 0 rgba(80, 80, 80, 0.1);
	transition-delay: .01s;
}
.lang-item > a{
	font-family: Cairo;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	text-align: center;
	color: #333;
	text-decoration: none;
	position: relative;
	display: inline-block;
	transition-delay: .2s;
}
.lang-item > a:hover{
	color: #02b2ee;
	text-decoration: none;
}
.lang-item.current-lang > a:after{
	display: block;
	width: 7px;
	height: 7px;
	float: left;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(-45deg);
	margin-right: 5px;
	content: "";
	margin-top: 6px;
	transition: border-color .3s, transform .0s, margin 0s;
	transition-delay: .2s;
}
.langSwicher.show .lang-item.current-lang > a{
	color: #333;
	transition-delay: .01s;
}
.langSwicher.show .lang-item.current-lang > a:after{
	border-color: #333;
	transform: rotate(135deg);
	margin-top: 9px;
	transition-delay: .01s;
}
.lang-item img{margin-bottom: 2px}
#stickyMenu.scroll .lang-item > a{
	transition: max-height .3s, box-shadow .3s, background .3s, color 0s;
}
#stickyMenu.scroll .lang-item.current-lang > a:after{
	border-color: #333 !important;
	transition: border-color 0s, transform .0s, margin 0s;
}
.contactContainer{
	display: inline-block;
	padding-right: 25px;
}
.contactContainer span{
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
}
.sellPropertyBtn{
	font-family: Cairo, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	display: inline-block;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
	padding: 0 20px;
	height: 46px;
	line-height: 48px;
	text-decoration: none;
	background: rgb(2,178,238);
	background: linear-gradient(-90deg, rgba(2,178,238,1) 0%, rgba(2,178,238,1) 50%, rgba(0,140,228,1) 50%, rgba(0,140,228,1) 100%);
	background-size: 200% 100%;
	transition: background .3s ease-in-out;
}
.sellPropertyBtn:hover{
	background-position: 0% 0;
	color: #fff;
	text-decoration: none;
}
.btnContainer{
	display: inline-block;
	float: left;
}
.bannerText{
	display: block;
}
.bannerPM .bannerText{
	display: block;
	padding-top: 0;
}
.bannerText.smallWidth{
	max-width: 900px;
}
.bannerBlock{
	padding-top: 20px;
	padding-bottom: 50px;
}
.pmBBlock{
	height: 200px;
	background-color: #fff;
	border: 1px solid #eee;
}
.pmBBlockImg{
	display: block;
	padding-top: 30px;
	text-align: center;
}
.pmBBlockImg{
	font-family: Cairo;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #373737;
	padding-right: 20px;
	padding-left: 20px;
}
.bannerVal{
	font-family: Cairo;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	color: #fff;
}
.bannerHeading{
	font-family: Cairo;
	font-size: 44px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
}
.bannerSubHeading{
	font-family: Cairo;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}
.blogSubHead{
	font-family: Cairo;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.45;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
	padding: 20px 50px 0;
}
.searchForm{
	position: relative;
	display: block;
	text-align: center;
	padding-top: 50px;
	z-index: 1;
}
.searchList{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0 !important;

}
.searchMenu > li{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.searchMenu{
	margin: 0;
	padding: 0;
}
.searchMenu > li a{
	background-color: #f5f5f5;
	display: block;
	width: 116px;
	font-family: Cairo, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #60636f;
	padding: 15px 0;
	text-decoration: none;
	border: solid 1px #eee;
	cursor: pointer;
}
.searchMenu > li a:hover{
	border: solid 1px #fff;
	background-color: #fff;
	color: #02b2ee;
}
.searchMenu > li a.active{
	border: solid 1px #fff;
	background-color: #fff;
	color: #02b2ee;
}
.searchArea{
	display: block;
	max-width: 1000px;
	padding: 30px 30px 30px;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 10px 21px 0 rgba(80, 80, 80, 0.7);
}
.locationContainer{
	width: 100% !important;
	display: block;
	position: relative;
}
.selectContainer{
	display: block;
	position: relative;
	width: 16%;
	flex-basis: 16%;
}
.selectContainerBtn{
	display: block;
	width: 12%;
	flex-basis: 12%;
	margin-right: 10px;
}
.location{
	border-radius: 0px !important;
	border: 0px !important;
	border-bottom: solid 1px #60636f !important;
	padding-right: 0px !important;
	font-family: Cairo, sans-serif !important;
	font-size: 14px !important;
}
.currency-switcher{
	border-radius: 0px !important;
	border: 0px !important;
	border-bottom: solid 1px #60636f !important;
	padding-right: 0px !important;
	font-family: Cairo, sans-serif !important;
	font-size: 14px !important;
	width: 135px !important;
}
.selectField{
	width: 100% !important;
	border-radius: 0px !important;
	border: 0px !important;
	border-bottom: solid 1px #60636f !important;
	padding-right: 0px !important;
	font-family: Cairo, sans-serif !important;
	font-size: 14px !important;
}

.pageSelectSort{
	border-radius: 0px !important;
	border: solid 1px #02b2ee !important;
	padding: 12px !important;
	font-family: Cairo, sans-serif !important;
	font-size: 14px !important;
	width: 170px;
	height: auto !important;
	color: #555 !important;
	margin-right: 10px;
}
.searchIcon{
	position: absolute;
	left: 0;
	bottom: 8px;
	background-color: #fff;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	width: 18px;
}
.searchBtn{
	background-color: #02b2ee;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #fff;
	padding: 17px 24px;
	border: 0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus{
	outline: none !important;
}
[contenteditable="true"]:focus{
	outline: none !important;
}
*:focus{
	outline: none !important;
}

.featureProjects{
	display: block;
	padding: 80px 0 0;
	position: relative;
	z-index: 2;
}
.featureProjects.noPd{
	padding: 0 !important;
}
.featureProjects.news{
	padding: 40px 0 0;
}
.textBlock{
	font-family: Cairo;
	font-size: 18px;
	color: #333;
	margin-right: auto;
	margin-left: auto;
	text-align:right;
}
.textBlock b, .textBlock strong{
	font-family: Cairo;
	font-weight: normal;
	text-align:right;
	font-size: 28px;
	color: #02b2ee;
}
.bgDottedL{
	position: absolute;
	right: 0;
	top: 200px;
}
.bgDottedR{
	position: absolute;
	left: 0;
	bottom: 100px;
}
.projectHeading{
	display: block;
	text-align: center;
}
.agentsBlock{position: relative;}
.agentsTitle{padding: 10px 0;}
.projectHeading.agentsTitle h2{font-size: 30px;}
.agentsTitle .middleSlash{margin-bottom: 7px;}
.agentsRow{margin-left: -10px !important; margin-right: -10px !important;}
.projectHeading.left{text-align: right}
.projectContainer{
	background: #fff;
}
.middleSlash{
	width: 81px;
	height: 2px;
	background-color: #02b2ee;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 12px;
}
.projectHeading h2{
	font-family: Cairo;
	font-size: 36px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.22;
	letter-spacing: normal;
	text-align: center;
	color: #333;
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
}
.projectHeading h3{
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
}
.projectHeading.left h2, .projectHeading h3{padding-right: 0}
.projectHeading.left h2{text-align: right}
.mediaHead{
	text-align: right;
	display: flex;
	justify-content: space-between;
}
.navCatList{
	padding: 0;
	margin: 0;
	list-style: none;
}
.navCatList-item{
	display: inline-block;
	margin: 0 3px;
}
.navCatList-item:last-child{
	margin-left: 0;
}
.navCatList-link{
	display: inline-block;
	line-height: 34px;
	height: 34px;
	padding: 0 12px;
	border: 1px solid #eee;
	font-size: 14px;
	font-family: Cairo;
	color: #333;
	transition: all .5s;
}
.navCatList-link:hover{
	text-decoration: none;
	color: #02b2ee;
	border-color: #02b2ee;
}
.navCatList-link.active{
	background-color: #02b2ee;
	border-color: #02b2ee;
	color: #fff !important;
}

.propertiesRow{
	padding-top: 25px;

}
.propertiesRow .col-md-4{
	margin-bottom: 50px;
}
.imageContainer{
	position: relative;
	display: block;
}
.imageContainer img{
	width: 100%;
}
.projectImgText{
	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 30px;
	transition: all 500ms linear;
}
.projectImgText h3{
	font-family: Cairo;
	font-size: 24px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fff;
}
.projectImgTextHCont{
	display: block;
	width: 100%;
}
.hslash{
	width: 81px;
	height: 2px;
	background-color: #02b2ee;
}
.propertyDetails{
	border: solid 1px #eee;
	display: block;
	padding: 15px;
}
.pd1{
	border-bottom: solid 1px #eee;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.pd2{
	display: inline-block;
	width: 100%;
}
.propertyDetails span{
	font-family: Cairo;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #333;
	margin-right: 10px;
}
.pd1left{
	width: 46%;
	display: inline-block;
}
.pd1Right{
	width: 54%;
	min-height: 28px;
	display: inline-block;
	border-right: solid 1px #eee;
	float: left;
	padding-right: 20px;
}
.propertyDesc{
	font-family: Cairo;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: normal;
	color: #fff;
}
.propertyDescContainer{
	width: 100%;
	padding-top: 20px;
	height: 0;
	overflow: hidden;
	transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
}
.viewMore{
	font-family: Cairo, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #fff;
	padding-bottom: 3px;
	border-bottom: solid 1px #fff;

}
.propertyDescContainer .viewMoreArrow{
	margin-right: 7px;
	width: 15px !important;
}
.imageContainer a:hover .propertyDescContainer{
	height: auto;
	overflow: auto;

}
.imageContainer a:hover .projectImgText{
	position: absolute;
	top: 30px;
	right: 20px;
	left: 20px;
	bottom: 30px;
}
.imageContainer a:hover .viewMoreContainer{
	position: absolute;
	right: 0;
	bottom: 20px;
}
.viewAll{
	display: block;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.viewAll a,
.viewAll a:hover{
	font-family: Cairo, sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: normal;
	color: #02b2ee !important;
	text-decoration: none;
}
.viewAll img{
	margin-right: 5px;
}
.viewAll a:hover img{
	animation: load 1s infinite linear;
}

.viewAll img.active{
	animation: load 1s infinite linear;
	filter: hue-rotate(-01deg) invert(100%);
}
.projectTopBtn{
	text-align: right;
}
.projectTopBtn a, .projectTopBtn a:hover{
	border: solid 1px #02b2ee;
	background-color: #fff;
	font-family: Cairo, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: center;
	color: #60636f;
	padding-top: 11px;
	padding-bottom: 11px;
	text-decoration: none;
	display: inline-block;
	margin: 0 !important;
	width: 108px;
	text-transform: uppercase;
	cursor: pointer;
}
.propertiesRow .projectTopBtn a.active{
	background-color: #02b2ee;
	color: #fff;
}
.advRow{
	background: url(../../images/dotbg.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
}
.advTxt{
	background-color: #fff;
	border: solid 1px #eee;
	padding: 15px 25px;
	height: 100%;
}
.advImg{
	display: block;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.advHead{
	font-family: Cairo;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.22;
	letter-spacing: normal;
	text-align: center;
	color: #333;
}
.advHeadpm{
	font-family: Cairo;
	font-size: 17px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.22;
	letter-spacing: normal;
	text-align: center;
	color: #333;
	padding-top: 15px;
	padding-bottom: 15px;
}

.abtRowTCont{
	display: flex;
	align-items: center;
}
.abtRow li{
	margin-bottom: 15px;
	text-align:right !important;
}
.abtRow li:last-child{
	margin-bottom: 0;
	text-align: right;
}
.abtRowTL{
	width: 70px;
	align-self: flex-start;
}
.abtRowTL img{
	vertical-align: middle;
}
.abtRowTR{
	width: 77%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.abtRowTR p{
	font-family: Cairo;
	font-size: 24px;
	line-height: 30px;
	color: #333;
	vertical-align: middle;
	margin-bottom: 0px;
	transition: color .5s;
/*	display: inline-block;*/
	Padding-right:25px;
	position: relative;
	text-align:right !important;
}
.BenefitsCont .abtRowTR p{
	font-family: Cairo;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	margin-bottom: 0px;
	padding-top: 10px;
		text-align:right !important;
}
.BenefitsCont .abtRowTL, .BenefitsCont .abtRowTL img{
	vertical-align: top;
		text-align:right !important;
}
.BenefitsBlock .row{
	justify-content: center;
	padding-bottom: 30px;
}
.BenefitsBlock .abtRow .col-md-4{margin-bottom: 20px;}
.abtRowBCont{
	font-family: Cairo;
	font-size: 16px;
	line-height: 27px;
	color: #333;
	display: block;
	margin-top: 35px;
	padding-right: 25px;
	text-align:right !important;
}
.abtRow a > *, .abtRow a{
	text-decoration: none !important;
}
/*
.abtRow a:hover{
	box-shadow: 0 7px 18px rgba(0, 0, 0, .15);
}
*/
.abtRow a:hover .abtRowTR p{color: #02b2ee;}

.abtRow .col-md-4, .abtRow .col-md-6, .abtRow .col-md-3{
	margin-bottom: 50px;
	display: flex;
}
.abtRow.about .col-md-6{
	margin-bottom: 0;
}
.abtRow .col-md-4 > div, .abtRow .col-md-6 > div, .abtRow .col-md-3 > div{
	width: 100%;
}
.landlords .row{
	justify-content: center;
}
.discoverCont{
	display: block;
	text-align: center;
}
.discoverCont a{
	font-family: Cairo;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 25px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	background: rgb(2,178,238);
	background: linear-gradient(-90deg, rgba(2,178,238,1) 0%, rgba(2,178,238,1) 50%, rgba(0,140,228,1) 50%, rgba(0,140,228,1) 100%);
	background-size: 200% 100%;
	transition: background .3s ease-in-out;
}
.discoverCont a:hover{
	background-position: 0% 0;
	color: #fff;
	text-decoration: none;
}
.blue{
	color: #02b2ee !important;
}
.BenefitsCont{
	display: block;
	border: 1px solid #eee;
	box-sizing: border-box;
	padding: 20px;
	min-height: 150px;
	width: 100%;
}
.verticalSep{
	position: relative;
	display: block;
	width: 100%;
	margin-top: 50px;
}
.verticalSep::before{
	content: '';
	position: absolute;
	width: 1.5px;
	background-color: #eee;
	margin-right: auto;
	margin-left: auto;
	top: 10px;
	right: 0;
	left: 0;
	height: calc(100% - 60px);
}
.verticalSepRCont{
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 50px;
}
.verticalSepRCont:first-child .stepVR.stepVR2{
	right: -175px;
}
.verticalSepLCont:last-child .stepVL{
	left: -181px;
}
.verticalSepLCont{
	display: block;
	width: 100%;
	position: relative;
	text-align: right;
	padding-bottom: 50px;
}
.verticalSepR{
	width: 45%;
	display: inline-block;
	text-align: right;
	position: relative;
}
.verticalSepL{
	width: 45%;
	display: inline-block;
	position: relative;
}
.stepVR{
	font-family: Cairo;
	font-size: 24px;
	line-height: 24px;
	color: #333;
	position: absolute;
	right: -174px;
}
.stepVR img{
	margin-right: 20px;
	margin-top: -5px;
}
.stepVL{
	font-family: Cairo;
	font-size: 24px;
	line-height: 24px;
	color: #333;
	position: absolute;
	left: -179px;
}
.stepVR2{
	right: -179px;
}
.stepVL2{
	left: -180.5px;
}
.stepVL img{
	margin-left: 20px;
	margin-top: -5px;
}
.verticalSepP1{
	font-family: Cairo;
	font-size: 24px;
	line-height: 30px;
	color: #333;
}
.verticalSepP2{
	font-family: Cairo;
	font-size: 18px;
	line-height: 27px;
	color: #333;
}
.td-col-1{
	width: 40%;
}
.td-col-2, .td-col-3, .td-col-4{
	width: 20%;
	text-align: center;

}
.plusIcon{
	width: 25px;
}
table, tr, tbody{
	border: 0px !important
}
table td{
	border: 1px solid #eee !important;
	color: #373737;
	font-size: 16px;
	font-family: Cairo;
	vertical-align: middle !important;
}
.pmTbl{
	margin-top: 50px;
}
.td-header{
	border-top: 0px !important;
	text-align: center;
	font-family: Cairo !important;
}
.td-col-4, .td-col-3{
	font-family: Cairo;
}
.td-header:nth-child(1){
	border-right: 0px !important;
}
.td-header:nth-child(4){
	border-left: 0px !important;
}
.td-left{
	border-right: 0px !important;
	text-align:right;
}
.td-right{
	border-left: 0px !important;
}
.td-last{
	border-bottom: 0px !important;
}
.pmFooter{
	display: block;
	background-color: #f9f9f9;
	border-bottom: solid 1px #d7d7d7;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	position: relative;
	margin-top: 50px;
}
.pmFooterInner{
	position: relative;
	max-width: 850px;
	background-color: #fff;
	padding: 50px;
	display: inline-block;
	z-index: 100;
}
.footerForm{
	padding-top: 30px;
	padding-right: 100px;
	padding-left: 100px;
}
.filled{
	transform: translateY(-120%);
	font-size: 14px !important;
	background: #fff;
	position: relative;
	z-index: 10;
	padding-right: 3px;
	padding-left: 3px;
}
.footerForm label{
	font-family: Cairo;
	color: #9a9898;
	position: absolute;
	line-height: 1.2;
	font-size: 16px;
	transition: 300ms all;
	word-wrap: break-word;
	padding-bottom: 3.5px;
	right: 15px;
	top: 26px;
	z-index: 10;
}
.footerForm .form-control{
	line-height: 1.2;
	box-shadow: none;
	position: relative;
	color: #9a9898 !important;
	border-bottom-width: 1px;
	border-color: #e1e1ec !important;
	border-radius: 0;
	padding: 0 18px 7px 18px;
	font-size: 17px;
	cursor: initial;
	outline: 0 !important;
	height: 50px;
}
.footerForm  .form-control.wpcf7-textarea{
	height: auto;
	padding: 10px 18px;
}
.footerForm button{
	border: 0px;
	padding: 0 20px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	font-family: Cairo, sans-serif;
	width: 100%;
	margin-top: 15px;
	background: rgb(2,178,238);
	background: linear-gradient(-90deg, rgba(2,178,238,1) 0%, rgba(2,178,238,1) 50%, rgba(0,140,228,1) 50%, rgba(0,140,228,1) 100%);
	background-size: 200% 100%;
	transition: background .3s ease-in-out;
	height: 46px;
	text-transform: uppercase;
}
.footerForm button:hover{
	background-position: 0% 0;
}
.footerForm .form-group{
	position: relative;
	padding-top: 10px;
}
.checkbox label{
	position: relative;
	top: 0px;
	right: 0px;
	padding: 0px;
	font-size: 10px !important;
	font-family: Cairo;
}
.checkbox input{
	margin-left: 5px;
	vertical-align: middle;
}
.checkbox{
	position: relative;
	display: block;
	padding-right: 0px;
	text-align: right;
}
.pmfooterDot{
	position: absolute;
	left: 150px;
	top: 20px;
	display: inline-block;
}
.pmfooterDotL{
	position: absolute;
	right: 150px;
	bottom: 20px;
	display: inline-block;
}
.advDesc{
	font-family: Cairo;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: center;
	color: #333;
}
.abtRow{
	padding-top: 50px;
}
.abtRow.about{padding-top: 20px}
.abtRow.offplan,
.abtRow.newsRow{padding-top: 40px}
.awardRow{
	padding-top: 50px;
}
.abtRow-cell{
	width: 100%;
	box-sizing: border-box;
	padding: 34px 44px 20px;
	border: 1px solid #eee;
	margin-bottom: 20px;
	min-height: 205px;
	background-repeat: no-repeat;
	background-position: center right 50px;
	background-size: 100px 100px;
}
.abtRow-cell.customer{
	background-image: url("../../images/icon-customer.svg");
	background-position: left;
}
.abtRow-cell.calendar{
	background-image: url("../../images/icon-calendar.svg");
	background-position: left;
}
.abtRow-cell.agents{
	background-image: url("../../images/icon-agents.svg");
	background-position: left;
}
.abtRow-cell.property{
	background-image: url("../../images/icon-property.svg");
	background-position: left;
}
.abtRow .col-md-6:last-child .abtRow-cell, .abtRow .col-md-6:nth-last-child(2) .abtRow-cell{
	margin-bottom: 0;
}
.col-md-3 .abtRowBCont{
	margin-top: 15px;
	font-size: 14px;
	line-height: 1.3;
	text-align:right;
}
.col-md-3 .abtRowTR p{
	font-size: 18px;
	line-height: 1.2;
		text-align:right !important;
}
.col-md-3 .abtRowTL{
	width: 55px;
	vertical-align: top;
}
.col-md-3  .abtRowTL img{width: 40px !important;}

.abtH1{
	font-family: Cairo;
	font-size: 54px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #333;
	text-align:right;
}
.abtH2{
	font-family: Cairo;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.56;
	letter-spacing: normal;
	color: #333;
	margin-bottom: 20px;
	text-align:right;
}
.abtDesc{
	font-family: Cairo;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.1;
	letter-spacing: normal;
	color: #333;
	margin-bottom: 0;
	max-width: 265px;
	text-align:right;
}

.offplan-image,
.news-image{
	position: relative;
	width: 100%;
	height: 265px;
	overflow: hidden;
}
.offplan-image img, .news-image img{
	width: auto;
	height: auto;
	max-height: 100%;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	z-index: 1;
	transition: transform .65s;
	transform-origin: 100% 50%;
}
.offplan-image:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #333;
	z-index: 2;
	opacity: 0;
	transition: opacity .5s;
}
.offplan-flex{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 3;
	right: 0;
	top: 0;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}
.offplan-desc .desc{
	color: #fff;
	font-family: Cairo;
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 0;
	opacity: 0;
	text-align: right;
	transform: translateY(30px);
	transition: transform .3s, opacity .4s;
}
.offplan-desc .ofpH2{
	opacity: 0;
	transform: translateY(30px);
	transition: transform .3s, opacity .4s;
	transition-delay: 0.1s;
	text-align: right;
}
.offplan-link, .offplan-link:hover,
.news-link, .news-link:hover{
	text-decoration: none !important;
	color: #333;
}
.offplan-link:hover .offplan-image img{
	transform: scale(1.1) translateX(50%);
}
.offplan-link:hover .offplan-image:after{
	opacity: .8;
}
.offplan-link:hover .offplan-desc .ofpH2{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.01s;
	text-align:right;
}
.offplan-link:hover .offplan-desc .desc{
	opacity: 1;
	transform: translateY(0);
	transition-delay: .1s;
	text-align:right;
}
.offplan-head{padding-top: 20px}
.ofpH2, .newsH2{
	font-size: 20px;
	font-family: Cairo;
	line-height: 1;
	color: #333;
	transition: color .3s;
	text-align:right;
}
.ofpH2.white{
	color: #fff;
}
.ofploc, .newsDesc{
	margin-bottom: 0;
	font-family: Cairo;
	font-size: 15px;
	line-height: 1.3;
	color: #333;
	text-align:right;
}
.offplan .col-md-4:last-child,
.offplan .col-md-4:nth-last-child(2),
.offplan .col-md-4:nth-last-child(3){
	margin-bottom: 0;
}

.news-cell{
	box-sizing: border-box;
	box-shadow: 0 4px 14px 0 rgba(99, 99, 99, 0.1);
	min-height: 100%;
	transition: box-shadow .3s, transform .3s;
}
.news-head{
	padding: 25px;
}
.news-date{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #02b2ee;
	color: #fff;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	z-index: 5;
	font-family: Cairo;
	font-size: 14px;
}
.news-link:hover .news-cell{
	transform: translateY(-8px);
	box-shadow: 0 12px 24px 0 rgba(99, 99, 99, 0.15);
}
.news-link:hover .newsH2{
	color: #02b2ee;
}
.col-md-4.newsCol{margin-bottom: 0;}

.awardText{
	width: 87%;
/*	float: left;*/
	box-shadow: 0 7px 17px 0 rgba(200, 200, 200, 0.5);
	margin-top: -50px;
	height: 200px;
}
.awardTextBottom{
	width: 87%;
/*	float: left;*/
	height: 200px;
	padding-top: 20px;
	height: 130px;
}
.awardLogo{
	display: block;
	text-align: right;
	padding-left: 15px;
	height: 50px;
}
.awardImg{
	display: block;
	text-align: center;
	position: relative;
	height: 150px;
	vertical-align: bottom;
}
.awardImg img{
	position: absolute;
	bottom: 10px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}
.awardTextP{
	font-family: Cairo;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: center;
	color: #333;
}
.ownerMsg{
	width: 886px;
	height: 248px;
	background: url(../../images/dotbg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
}
.comaImg{
	margin-top: -10px;
	margin-right: -10px;
}
.ownerContainer{
	display: block;
	width: 100%;
	padding: 20px 40px 10px;
}
.ownerContainer2{
	display: block;
	width: 100%;
	text-align: right;
}
.ownerContainer3{
	display: block;
	width: 100%;
	text-align: right;
	padding-left: 70px;
}
.ownerContainer3 p{
	font-family: Cairo;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: normal;
	text-align: right;
	color: #777;
}
.ownerContainer2 h5{
	display: inline-block;
	font-family: Cairo, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	text-align: right;
	color: #333;
	padding-right: 20px;
	padding-left: 70px;
}
.ownerslash{
	width: 50px;
	height: 1px;
	background-color: #02b2ee;
	display: inline-block;
	vertical-align: middle;
}
.ownerImg{
	width: 120px;
	display: inline-block;
	height: 106px;
}
.ownerText{
	width: 685px;
	display: inline-block;
	height: 106px;
	float: left;
}
.ownerText p{
	font-family: Cairo;
	font-size: 17px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #333;
}
.contactFtContainer{
	background-image: url(../../images/contactbg.png);
	background-repeat: no-repeat;
	margin-top: 100px;
	display: block;
	background-size: 900px;
	background-position: calc(100% - (50% - 350px));
}
@media screen and (min-width: 1200px){
	.contactFtContainer{
		background-size: 1100px;
		background-position: calc(100% - (50% - 450px));
	}
}
@media screen and (min-width: 1700px){
	.contactFtContainer{
		background-size: 1200px;
		background-position: calc(100% - (50% - 500px));
	}
}
.contactFtL{
	width: 100%;
	background: #fff;
	padding: 30px 30px 10px;
	position: absolute;
	bottom: 0;
	max-width: 680px;
}
.contactFtLh{
	font-family: Cairo;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #333;
	padding-bottom: 20px;
}
.contactFtL ul{
	padding-right: 0px;
	margin-right: 15px;
	list-style: none;
}
.contactFtL ul li::before{
	content: "\25AA";
	color: #02b2ee;
	font-weight: bold;
	font-size: 25px;
	display: inline-block;
	margin-right: -15px;
	width: 15px;
	vertical-align: top;
	margin-top: -7px;
}
.contactFtL p{
	font-family: Cairo;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.6;
	letter-spacing: normal;
	color: #333;
	padding: 2px 15px 2px 0;
	display: inline-block;
}
.contactFtRT{
	padding: 0;
	display: block;
}
.contactFtRT2{
	padding: 5px 0 15px;
	display: block;
}
.contactFtRT3{
	padding: 15px 0 0;
	display: block;
}
.contactFtRTH{
	font-family: Cairo;
	font-size: 28px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	color: #333;
	margin-bottom: 0;
	display: inline-block;
	margin-left: 20px;
}
.contactFtRTS{
	width: 81px;
	height: 2px;
	background-color: #02b2ee;
}
.contactFtRT2 p{
	font-family: Cairo;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.18;
	letter-spacing: normal;
	color: #333;
	padding-bottom: 10px;
}
.contactFtRT2 .cp2{
	font-family: Cairo;
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.53;
	letter-spacing: normal;
	color: #333333;
	padding: 0 !important;
	margin: 0 !important;
}
.contactFtRT3 a{
	display: block;
	width: 100%;
	border: solid 1px #e7e7e7;
	background-color: #fff;
	text-align: center;
	padding: 25px 0;
	font-family: Cairo, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #333;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: border-color .3s, box-shadow .3s, transform .3s, color .3s;
}
.contactFtRT3 a:hover{
	box-shadow: 0 4px 14px 0 rgba(99, 99, 99, 0.1);
	border-color: #fff;
	text-decoration: none;
	transform: translateY(-4px);
	color: #02b2ee !important;
}
.contactFtRT3 a:last-child{
	margin-bottom: 0;
}
.contactFtRT3 img{
	margin-left: 10px;
	width: 40px;
}
.aboutBtm{
	display: block;
	padding: 20px 0 0;
	text-align: center;
}
.aboutBtm p	{
	font-family: Cairo;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #333;
	display: block;
	padding-bottom: 20px;
}
.fPabout .aboutBtm{
	text-align: right;
}
.fPabout .aboutBtm p{
	max-width: 500px;
	font-size: 20px;
	color: #646270;
}
.newsLetter{
	display: block;
	background: #f9f9f9;
	width: 100%;
	padding: 50px 20px 50px;
	margin-top: 100px;
	border-bottom: solid 1px #eee;
}
.newsLetter.noPd{margin-top: 0 !important;}
.footer{
	display: block;
	background: #f9f9f9;
	width: 100%;
	padding-top: 50px;
	text-align:right;
}
.newsLetter h4{
	font-family: Cairo, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.93;
	letter-spacing: normal;
	text-align: center;
	color: #333;
}
.newsLetter p{
	font-family: Cairo;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;
	letter-spacing: normal;
	text-align: center;
	color: #555;
	padding: 10px;
}
.newsletterF{
	display: block;
	text-align: center;
	width: 520px;
	margin-right: auto;
	margin-left: auto;
}
.newsletterF input{
	width: 300px;
	height: 46px;
	border: solid 1px #e7e7e7;
	background-color: #fff;
	border-radius: 0px;
	font-family: Cairo;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: normal;
	color: #777;
	float: right;
}
.newsletterBtn{
	width: 200px;
	height: 46px;
	border: 0px;
	text-align: center;
	font-family: Cairo, sans-serif;
	font-size: 14px;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: center;
	line-height: 1;
	padding: 0;
	color: #fff;
	float: left;
	background: rgb(2,178,238);
	background: linear-gradient(-90deg, rgba(2,178,238,1) 0%, rgba(2,178,238,1) 50%, rgba(0,140,228,1) 50%, rgba(0,140,228,1) 100%);
	background-size: 200% 100%;
	transition: background .3s ease-in-out;
}
.newsletterBtn:hover{
	background-position: 0% 0;
}
.footerCp{
	font-family: Cairo;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #777;
	padding: 30px 0 0px 30px;
	display: block;
}
.privacyP, .privacyP:hover{
	font-family: Cairo;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.69;
	letter-spacing: normal;
	color: #777;
	text-decoration: underline;
}
.FooterMH{
	display: inline-block;
	font-family: Cairo, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	color: #333;
	border-bottom: solid 2px #02b2ee;
	padding-bottom: 5px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align:right;
}
.footerMList{
	list-style: none;
	padding-right: 0px;
	margin-right: 0px;
	margin-top: 10px;
		text-align:right;
}
.footerMenu{
	list-style: none;
	padding-right: 0px;
	margin-right: 0px;
	margin-top: 15px;
		text-align:right;
}
.footerMenu a{
	font-family: Cairo, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;
	letter-spacing: normal;
	color: #555;
	text-decoration: none;
		text-align:right;
}
.footerMList a{
	font-family: Cairo;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;
	letter-spacing: normal;
	color: #555;
	text-decoration: none;
		text-align:right;
}
.footer .col .menuItem{
	font-family: Cairo, sans-serif;
	font-weight: normal;
	text-align:right;
}
.footer .col .menuItem:hover,
.menu-footer-menu-en-container .menuItem:hover,
.copyRightCont a:hover{
	color: #02b2ee !important;
		text-align:right;
}
.menu-footer-menu-en-container{
	padding-top: 4px;
		text-align:right;
}
.menu-services-2-en-container{
	padding-top: 36px;
		text-align:right;
}
.footerMList a:hover{
	color: #02b2ee;
	text-decoration: none;
}
.footerMenu a:hover{
	color: #02b2ee;
	text-align:right;
}

.footer1 .col .menuItem{
	font-family: Cairo, sans-serif;
	font-weight: normal;
	text-align:right;
}

.socialIcons a{
	display: inline-block;
	padding: 5px 10px;
	background-color: #fff;
	color: #333;
	border: solid 1px #eee;
	width: 35px;
	height: 35px;
	text-align: center;
	transition: color .5s, border-color .5s;
}
.socialIcons a:hover{
	color: #02b2ee;
	border: solid 1px #02b2ee;
}
.CurrencySelect,
.widget-currency-switcher{
	display: inline-block;
	width: 100px;
	vertical-align: top;
}
.CurrencySelect .currency-switcher,
.widget-currency-switcher .currency-switcher{
	border-radius: 0px !important;
	border: 1px !important;
	border: solid 1px #eee !important;
	padding-left: 5px !important;
	font-family: Cairo !important;
	font-size: 14px !important;
	width: 100% !important;
	padding: 0px 0px 0px !important;
	height: 35px;
	direction:ltr;
}
.areaSelect{
	display: block;
	margin-top: 20px;
}
.areaSelect .areaSelect-btn,
.areaSelect .areaSelect-btn:hover{
	display: inline-block;
	width: 131px;
	text-align: center;
	border: solid 1px #02b2ee;
	text-decoration: none;
	color: #333;
	background-color: #fff;
}
.areaSelect .areaSelect-btn:nth-child(2){
	margin-right: -5px;
}
.areaSelect .areaSelect-btn.active{
	background-color: #02b2ee;
	color: #fff;
}
.pageContainer{
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}
.pageSearch{
	padding: 25px 15px;
	opacity: 0.98;
	text-align: center;
	box-shadow: 0 7px 20px 0 rgba(138, 138, 138, 0.2);
	background-color: #fff;
}
.pageInputLoc{
	border: solid 1px #d7d7d7;
	background-color: #fff;
	width: 250px;
	padding: 10px 30px 10px 10px;
	font-size: 14px;
	margin-left: 150px;
}
.pageInputCont{
	position: relative;
	display: inline-block;
	margin-left: 10px;
}
.locationIcon{
	position: absolute;
	right: 10px;
	top: 12px;
}
::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #999;
	/* Firefox */
	font-family: Cairo, sans-serif !important;
	font-size: 14px;
}

:-ms-input-placeholder{ /* Internet Explorer 10-11 */
	color: #999;
	font-family: Cairo, sans-serif !important;
	font-size: 14px;
}

::-ms-input-placeholder{ /* Microsoft Edge */
	color: #999;
	font-family: Cairo, sans-serif !important;
	font-size: 14px;
}
.filterBtn, .filterBtn:hover{
	border: solid 1px #d7d7d7;
	color: #333;
	float: left;
	padding: 10px;
	font-family: Cairo, sans-serif !important;
	font-size: 14px;
	text-decoration: none;
}
.pageSearchB{
	display: block;
	padding-top: 25px;
}
.pageSearchB > span{
	font-family: Cairo, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #646270;
}
.showmap{
	display: none;
}
.showmap.active{
	display: flex;
	justify-content: center;
	align-items: center;
}
.showmap, .showmap:hover{
	border: solid 1px #02b2ee;
	padding: 10px;
	float: left;
	font-family: Cairo, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	color: #333;
	text-decoration: none;
	background-color: #fff;
}
.showmap img{
	/*margin-top: -7px;*/
	margin-right: 10px;
}
.paginationCont{
	display: block;
	text-align: center;
}
.paginationList{
	display: inline-block;
}
.paginationList li{
	list-style: none;
	display: inline-block;
}
.paginationList li a{
	display: block;
	border: solid 1px #02b2ee;
	height: 37px;
	width: 37px;
	font-family: Cairo, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	color: #333;
	text-decoration: none;
	padding-top: 4px;
}
.paginationList li a:hover, .paginationList li a.active{
	background-color: #02b2ee;
	color: #fff;
}
.paginationList li a.nextPage, .paginationList li a.nextPage:hover{
	display: block;
	border: none;
	font-family: Cairo, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	color: #333;
	text-decoration: none;
	padding-top: 2px;
	background-color: #fff;
}
.paginationList li a.nextPage img{
	margin-top: -5px;
}
input, select, button, a{
	outline: 0 !important;
}
.propertiesRow .col-md-6{
	margin-bottom: 20px;
}
.mapSection{
	display: block;
	height: 1107px;
}
.gm-style-iw button{
	display: none !important;
}

.menuIcon{
	display: none;
}
.mobileMenu{
	display: none;
}
input[type="text"], input[type="email"], textarea, select{
	outline: none;
	box-shadow: none !important;
}
.paginationMobile{
	display: none;
}
.mapControls{
	position: absolute;
	top: 10px;
	right: 25px;
	z-index: 100;
}
.mapControls .checkbox{
	background-color: #fff;
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 8px;
	border: solid 1px #d7d7d7;
	display: inline-block;
}
.mapControls .checkbox input{
	margin-left: 7px;
}
.mapControls .checkbox label{
	font-size: 14px;
	padding-top: 7px;
	font-family: Cairo, sans-serif;
	margin-bottom: 0px;
}
.mapControls a, .mapControls a:hover{
	font-size: 14px;
	padding: 10px;
	font-family: Cairo, sans-serif;
	margin-right: 5px;
	background-color: #fff;
	border: solid 1px #d7d7d7;
	color: #333;
	text-decoration: none;
}
.mapControls input[type="checkbox"]{
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 1px;
	box-sizing: border-box;
	position: relative;
	box-sizing: content-box;
	width: 15px;
	height: 15px;
	border: solid 1px #d7d7d7;
	vertical-align: middle;
}
.mapControls input[type="checkbox"]:checked{
	background: url(../../images/tickmarks.png) no-repeat center center;
}
.mapControls input[type="checkbox"]:focus{
	outline: 0 none;
	box-shadow: none;
}
.companyrec, .companyrec2{
	display: none;
}
.lastComBloc{
	padding-bottom: 10px;
}
.stepVR3, .stepVR4{
	display: none;
}
.locationMap{
	display: block;
	position: relative;
	padding-bottom: 100px;
}
.locationMap iframe{
	width: 100%;
	height: 500px;
	box-shadow: 0px 6px 17px rgba(169, 169, 169, 0.395012);
}
.contactUsBg{
	position: absolute;
	bottom: 50px;
	left: -100px;
	z-index: -1;
}
.mapouter{
	position: relative;
	text-align: right;
	height: 500px;
	width: 100%;
}
.gmap_canvas{
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 100%;
}
.contactH{
	font-family: Cairo;
	font-size: 28px !important;
	color: #333;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	text-align:right;
}
.contactH:after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 100px;
	border-bottom: solid 3px #02b2ee;
		text-align:right;
}
.contactSH{
	font-family: Cairo, sans-serif;
	font-size: 24px;
	color: #02b2ee;
	position: relative;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 20px;
		text-align:right;
}
.contactSH:after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 70px;
	border-bottom: solid 1px #d7d7d7;
		text-align:right;
}
.contactAdd{
	display: block;
	width: 240px;
	font-family: Cairo;
	font-size: 16px !important;
	color: #333;
	margin-right: 50px;
		text-align:right;
		direction:ltr;
}
.contactIcon{
	vertical-align: top;
	margin-top: 2px;
		text-align:right;
		float:right;
}
.contactIcon1{
	margin-top: 12px !important;
}
.contactForm{
	display: block;
	padding-top: 30px;
		text-align:right;
}
.field{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
}
.contactForm input[type=text], .contactForm input[type=email], .contactForm textarea{
	width: 100%;
	border: solid 1px #e1e1ec;
	padding: 10px 15px;
	background: transparent;
	position: relative;
	z-index: 10;
}
input[type=text],
input[type=email],
textarea{
	transition: border-color .5s;
}
input[type=text]:focus,
input[type=email]:focus,
.form-group textarea:focus{
	border-color: #02b2ee !important;
}

.inputLbl{
	position: absolute;
	right: 10px;
	top: 0;
	display: inline-block;
	font-family: Cairo, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9a9898;
	z-index: 100;
	background: #fff !important;
	background-color: #fff;
	padding-right: 5px;
	padding-left: 5px;
}
.contactForm button{
	width: 100%;
	border: none;
	background-color: #02b2ee;
	font-family: Cairo, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 20px;
}

#menuClose,
.mobile-elastic{
	display: none;
}
/* Join Family page */
.page-template .bannerPM.joinBanner{
	display: block;
	background-image: url("../../images/mpp-family-fw.jpg");
	background-position: bottom -30px center;
	height: calc(100vh - 80px);
	min-height: 720px;
}
.page-template .bannerPM.joinBanner:after{display: none}
.joinBanner .bannerHeading{
	color: #333;
}
.joinBanner .bannerSubHeading{
	font-family: Cairo, sans-serif;
	color: #02b2ee;
}
.joinTextBlock ul{
	padding-right: 15px;
	font-size: 18px !important;
	color: #02b2ee;
	text-align:right;
}
.joinTextBlock ul li{
	color: #333;
	font-size: 18px !important;
	text-align:right;
}
.joinVideo{
	position: relative;
	display: flex;
	align-items: center;
}
.joinVideo iframe{
	z-index: 10;
	position: relative;
}
.joinVideo:after{
	position: absolute;
	z-index: 1;
	display: block;
	content: "";
	width: 343px;
	height: 216px;
	background: url("../../images/pmfdot.png");
	left: -100px;
	top: 0;
}
.featureProjects.qaBlock{
	padding-top: 30px;
}
.textBlock .question{
	font-family: Cairo, sans-serif;
	font-size: 26px !important;
	text-align:right;
	color: #02b2ee;
}
.textBlock .answer{
	margin-bottom: 0;
	text-align:right;
}
.featureProjects.sliderFW{
	padding-top: 30px;
}
.pmFooter.joinForm{
	margin-top: 0;
}
.gallerySlider	{
	margin-top: 30px;
}
.textBlock.noCenter{
	margin: 0;
	width: 100%;
}
.textBlock.pd15{padding: 0 10px}
.gallerySlider,
.gallerySlider .owl-stage-outer,
.gallerySlider .owl-stage,
.gallerySlider .owl-item,
.gallerySlider .owl-item>div
{
	position:relative;
	height:100%!important;
    direction:ltr;
}
.gallerySlider .owl-item img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.gallerySlider .owl-dots{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}
.gallerySlider .owl-dot{
	margin: 0 5px;
	height: 12px;
	width: 12px;
	border-radius: 6px;
	background: #fff !important;
	vertical-align: top;
}
.gallerySlider .owl-dot.active{
	border: 2px solid #fff;
	background: #02b2ee !important;
}
.gallerySlider .owl-nav{
	position: absolute;
	top: 50%;
	z-index: 10;
	margin-top: -30px;
	width: 100%;
}

.propertySlider .owl-nav{
	top: 100px;
	margin-top: 0;
}

.gallerySlider .owl-prev, .gallerySlider .owl-next,
.propertySlider .owl-prev, .propertySlider .owl-next{
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: #fff !important;
	opacity: .5;
	transition: opacity .5s;
}

.propertySlider .owl-prev, .propertySlider .owl-next{
	width: 40px;
	height: 40px;
	opacity: 1;
	box-shadow: 0 3px 7px rgba(0,0,0,.1);
}

.gallerySlider .owl-prev span, .gallerySlider .owl-next span{
	font-size: 40px;
	line-height: 17px;
	vertical-align: top;
	transition: color .5s;
}
.gallerySlider .owl-prev{
	right: 30px;
}
.gallerySlider .owl-next{
	left: 30px;
}
.gallerySlider .owl-prev:hover, .gallerySlider .owl-next:hover{
	opacity: 1;
}
.gallerySlider .owl-prev:hover span, .gallerySlider .owl-next:hover span{
	color: #02b2ee;
}
.file-group{
	text-align: right;
	margin-bottom: 0 !important;
	font-size:20px !important;
}
.file-group .file_add_btn{
	display: inline-block;
	width: 400px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	position: relative;
	right: auto;
	top: auto;
	margin-bottom: 0;
	cursor: pointer;
	background-image: url("../../images/paperclip.svg");
	background-position: right center;
	background-size: 28px auto;
	background-repeat: no-repeat;
}
.file-group .file_add_btn div{
	position: relative;
	z-index: 10;
	vertical-align: top;
	color: #333;
	padding-right: 35px;
}
.file-group input[type="file"]{
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 0;
	width:400px;
	height: 36px;
	opacity: 0;
}
.file-group .file_name{
	display: inline-block;
	line-height: 36px;
	font-size: 14px !important;
	color: #02b2ee;
	font-family: Cairo, sans-serif;
	vertical-align: top;
	margin: 0;
}
.officeLocation{
	margin-left: 0;
	background-image: url("../../images/location.svg");
	padding-right: 25px;
	background-position: right top;
	background-size: auto 20px;
	background-repeat: no-repeat;
	height: 24px;
	line-height: 24px;
}
.row.vacancies{
	padding-top: 30px;
}
.vacancies .col-md-4{
	margin-bottom: 20px;
}
.headVacancies h3{
	max-width: 800px;
}
.headVacancies h3 .middleSlash{
	margin: 0 20px 0 0;
}
.fPvacancies + div{padding-top: 0 !important;}
.linkVacancy{
	border: 1px solid #eee;
	padding: 30px 40px;
	height: 100%;
	text-decoration: none !important;
	display: flex;
	flex-direction: column;
	transition: transform .4s, box-shadow .4s;
	cursor: pointer;
	text-align:right !important;
}
.titleVacancy{
	color: #333;
	font-family: Cairo, sans-serif;
	font-size: 21px;
}
.locateOffice{
	margin-left: 0;
	background-image: url("../../images/location.svg");
	padding-right: 30px;
	background-position: right top;
	background-size: auto 24px;
	background-repeat: no-repeat;
	height: 28px;
	line-height: 28px;
	color: #02b2ee;
	font-family: Cairo, sans-serif;
	font-size: 14px;
	flex-grow: 1;
}
.postedDate{
	margin-bottom: 0;
	display: inline-block;
	clear: both;
	font-size: 12px;
	color: #adadad;
	padding-top: 5px;
	margin-top: 20px;
	position: relative;
}
.postedDate:after{
	border-top: 1px solid #eee;
	position: absolute;
	width: 60px;
	content: "";
	top: 0;
	right: 0;
}
.linkVacancy:hover{
	transform: translateY(-7px);
	box-shadow: 0 7px 17px rgba(0,0,0,.075);
}

@media only screen and (max-width: 1360px){
	.textJoin{overflow: hidden}
}
@media only screen and (max-width: 1200px){
	.mobile-elastic{
		flex-grow: 1;
		display: initial;
	}
	.bannerPM .menusContainer, .menusContainer{
		display: none;
	}
	.btnContainer{
		padding-left: 60px;
	}
	.menuOpen {
		width: 28px;
		height: 28px;
		position: absolute;
		left: 15px;
		z-index: 3;
		cursor: pointer;
		display: block;
		top: 9px;
	}
	.menuOpen_line {
		width: 100%;
		height: 2px;
		background: #02b2ee;
		position: absolute;
		right: 0;
		top: 14px;
		margin-top: -1px;
		-webkit-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
	}
	.menuOpen_line:nth-child(1) {
		 -webkit-transform:translateY(-9px);
		 -ms-transform:translateY(-9px);
		 transform:translateY(-9px);
	 }
	.menuOpen_line:nth-child(3) {
		 -webkit-transform:translateY(9px);
		 -ms-transform:translateY(9px);
		 transform:translateY(9px);
	 }
	.menuOpen.opened .menuOpen_line:nth-child(1){
		 -webkit-transform:translateY(0) rotate(-45deg);
		 -ms-transform:translateY(0) rotate(-45deg);
		 transform:translateY(0) rotate(-45deg);
	 }
	.menuOpen.opened .menuOpen_line:nth-child(2) {
		 opacity:0;
		 visibility:hidden;
		 -webkit-transform:translateX(-20px);
		 -ms-transform:translateX(-20px);
		 transform:translateX(-20px);
	 }
	.menuOpen.opened .menuOpen_line:nth-child(3) {
		 -webkit-transform:translateY(0) rotate(45deg);
		 -ms-transform:translateY(0) rotate(45deg);
		 transform:translateY(0) rotate(45deg);
	 }

	.mobileMenu{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 3000;
		background-color: #fff;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.menusContainer a{
		color: #333;
	}

	.mobileMenu .menusContainer{
		display: block;
		padding-right: 0;
		order: 1;
		margin: 0;
		text-align : right;
	}

	.mobileMenu .menusContainer .menu{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding-top: 40px;
	}

	.mobileMenu .menusContainer li{
		/*margin-right: 5px;*/
		margin: 5px 0;
		width: 100%;
	}

	.mobileMenu .menusContainer .menuItem{
		margin-left: 0;
		text-align: right;
		border-bottom: 2px solid transparent;
	}
	.mobileMenu .whatContainer span,
	.mobileMenu .langContainer .lang-item.current-lang > a{
		color: #333;
		transition: 0s;
		font-size: 22px;
		text-align: right;
	}
	.mobileMenu .langSwicher .lang-item.current-lang > a::after {
		border-color: #333;
	}
	.mobileMenu .sub-menu{transition: none !important;}
	.mobileMenu .sub-menu.active{
		position: relative;
		box-shadow: none;

	}
/*
	.mobileMenu .contactContainer{
		border: solid 1px #02b2ee;
		text-align: center;
		width: 280px;
		padding-top: 10px;
		padding-bottom: 10px;
		float: right;
		padding-left: 0px;
		margin-top: 25px;
		display: block;
	}

	.mobileMenu .langContainer{
		text-align: center;
		width: 280px;
		padding-top: 0;
		padding-bottom: 10px;
		padding-left: 0;
		float: right;
		display: block;
	}
	*/
	.mobileMenu .contactContainer span{
		color: #333;
	}

	.mobileMenu .menuLink{
		margin-bottom: 15px;
	}

	.mobileMenu .menu-item-has-children > .menuItem:after{
		border-color: #333;
	}
	.joinVideo iframe{
		width: 100%;
	}
}
@media all and (max-width: 1024px){
	.featureProjects{padding-top: 50px}
	.featureProjects .col-md-3{
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 20px;
	}
	.featureProjects .col-md-3:last-child,
	.featureProjects .col-md-3:nth-last-child(2){margin-bottom: 0}
	.featureProjects .advRow{
		padding: 0;
	}
	.abtRow.offplan, .abtRow.newsRow, .featureProjects .advRow{
		padding-top: 20px;
	}
	.abtRow-cell{
		padding: 30px 24px 20px;
		min-height: 170px;
		background-position: top 30px left 30px !important;
		background-size: 60px 60px !important;
		margin-bottom: 20px !important;
	}
	.abtH1{
		font-size: 42px;
		text-align:right;
		margin-bottom: 0;
	}
	.abtH2{font-size: 16px;margin-bottom: 10px;	text-align:right}
	.abtDesc{font-size: 14px
	.advRow{
		padding-top: 15px;
		padding-bottom: 0px;
		background: url(../../images/dottedbg.png);
	}

	.advRow .col-md-3{
		margin-bottom: 25px;
	}

	.customer, .agents, .property, .years{
		background-size: 100%;
		background-position: center;
	}
	.offplan-image{
		height: 200px;
	}
	.featureProjects.news{padding-top: 0}
	.news-image{height: 230px}
	.offplan-image img, .news-image img{
		object-fit: fill;
		width: 100%;
		height: 100%;
	}
	.featureProjects.fPawards .col-md-3{
		flex: 0 0 33.33%;
	}
	.awardRow{justify-content: center}
	.col-md-4.newsCol{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-md-4.newsCol:last-child{display: none}
	.newsLetter{margin-top: 50px}
	.footer .container:not(.copyRightCont) .col-md-3:not(.footer1){
		flex: 0 0 100%;
		max-width: 100%;
		margin: 20px 0 40px;
		text-align:right;
	}
	.footer .container:not(.copyRightCont) .col-md-3.footer1,
	.footer .col{
		flex: 0 0 33.33%;
		max-width: 33.33%;
		text-align:right;
	}
	.areaSelect{
		float: left;
		margin-top: 0;
	}
	.fwDesc{
		font-size: 16px;
	}
	.fwHead h2{font-size: 32px}
	.full-width_block{
		background-position: center left calc(68vw + 1px);
	}
	.langEl{
		width: 100px;
		height: 35px;
	}
	.langSwicher{
		width: 100px;
	}
	.lang-item{
		padding: 5px 15px;
	}
	.langSwicher.show{max-height: 200px}

}
@media only screen and (max-width: 900px){
	.agentsRow .col-md-4{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.landlords .abtRow .col-md-4,
	.BenefitsBlock .abtRow .col-md-4,
	.vacancies .col-md-4{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.textJoin .col-md-6{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.textJoin .abtRow{padding-top: 20px}
	.textJoin .joinVideo iframe{
		width: 100%;
		max-width: 700px;
		height: 394px;
		margin: 0 auto;
	}
	.linkVacancy{
		padding: 20px 30px;
	}
	.page-template .bannerPM.joinBanner{
		min-height: 520px;
		height: auto;
		background-image: url("../../images/mpp-family-mb.jpg");
		background-position: bottom center;
		padding-top: 40px;
	}
	.joinVideo:after {
		left: -50px;
		top: -50px;
	}
	.qaBlock .abtRow{
		padding-top: 20px;
	}
	.joinBanner .bannerHeading{
		font-size: 36px;
	}
	.joinBanner .bannerSubHeading{font-size: 20px}
	.projectHeading h2{font-size: 30px}
	.textBlock .question{font-size: 26px !important;color: #02b2ee;}
	.textBlock .answer{font-size: 16px}
	.qaBlock .abtRow .col-md-6{margin-bottom: 30px}
	.gallerySlider:not(.grid) .gallerySlider__item img{min-height: 360px}
}
@media only screen and (max-width: 767px){
	.showmap{
		width: 100%;
		margin-bottom: 30px;
	}

	.contactH{
		padding-top: 50px;
			text-align:right;
	}

	.contactSH{
		font-size: 22px !important;
		text-align:right;
	}

	.locationMap{
		display: block;
		position: relative;
		padding-bottom: 10px;
	}

	.locationMap iframe{
		width: 100%;
		height: 300px;
		box-shadow: 0px 6px 17px rgba(169, 169, 169, 0.395012);
	}

	.contactUsBg{
		position: absolute;
		bottom: -30px;
		left: -50px;
		z-index: -1;
		width: 200px;
	}

	.mapouter{
		position: relative;
		text-align: right;
		height: 300px;
		width: 100%;
	}

	.gmap_canvas{
		overflow: hidden;
		background: none !important;
		height: 300px;
		width: 100%;
	}

	.postdetails h1{
		font-size: 25px;
		line-height: 1.2;
	}

	.videoTag iframe{
		height: 220px;
	}

	.postImages .col-md-6:nth-child(1){
		margin-bottom: 25px;
	}

	.postReviews, .postShare{
		width: 100%;
		text-align: center;
	}

	.postReviews{
		margin-bottom: 15px;
	}

	.postShare .socialIcons{
		margin-bottom: 0px !important;
	}

	.agentImg .agentContact{
		position: relative;
		width: 90%;
		float: left;
		height: 255px;
		border: solid 1px #02b2ee;
		margin-top: -180px;
	}

	.agentsViewMore{
		margin-top: 0;
		margin-bottom: 20px;
	}

	.ownerMsg{
		background: url(../../images/dotbg2.png);
		width: 100%;
		height: auto;
	}

	.ownerContainer{
		padding: 20px;
	}

	.ownerImg{
		width: 70px;
		height: 235px;
	}

	.ownerImg img{
		width: 100%;
	}

	.ownerText{
		width: 200px;
		height: 235px;
	}

	.ownerText p{
		font-size: 14px;
		padding-top: 15px;
	}

	.ownerMsg .ownerContainer2 h5{
		padding-left: 30px;
	}

	.ownerMsg .ownerContainer3{
		padding-left: 30px;
		padding-right: 100px;
		padding-bottom: 30px;
	}

	table td{
		font-size: 12px;
	}

	.stepVR3, .stepVR4{
		display: inline-block;
	}

	.pmTbl{
		width: 100% !important;
	}

	.pmfooterDot, .pmfooterDotL{
		display: none;
	}

	.pmFooter{
		padding: 15px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.checkbox label{
		font-size: 12px;
	}

	.pmFooterInner h2{
		width: 180px;
		display: inline-block;
	}

	.pmFooterInner .middleSlash{
		margin-top: -18px;
	}

	.pmFooterInner{
		width: 100%;
		padding: 20px 10px;
		max-width: 340px;
	}

	.footerForm{
		padding-top: 20px;
		padding-right: 10px !important;
		padding-left: 10px !important;

	}

	.pmTbl td{
		padding: 0.4rem !important;
	}

	.td-header{
		vertical-align: middle;
		text-align: right;
	}

	.td-header span{
		writing-mode: tb-rl;
		transform: rotate(180deg);
		display: block;
		height: 80px;
	}

	.td-header span:nth-child(2){
		writing-mode: tb-rl;
		transform: rotate(180deg);
		display: inline-block;
		width: 80px;
		height: 80px;
	}

	.td-header:nth-child(2), .td-last:nth-child(2){
		padding-right: 40px !important;
	}

	.td-header:nth-child(3), .td-last:nth-child(3){
		padding-right: 30px !important;
	}

	.td-header:nth-child(4){
		padding-right: 30px !important;
	}

	.tdbcol{
		writing-mode: tb-rl;
		transform: rotate(180deg);
		display: block;
		width: 40px;
		height: 90px;
		text-align: right;
	}

	.td-col-2, .td-col-3, .td-col-4{
		width: 20% !important;
	}

	.plusIcon{
		width: 20px;
	}

	.mobiletdCol{
		display: block;
		width: 85px;
		font-size: 12px;
	}

	.pmFeature{
		padding-top: 50px !important;
	}

	.pmBanB p{
		font-size: 14px;
	}
	.full-width_block{margin-bottom: 80px;}
	.fwDesc{
		font-size: 16px;
	}
	.fwHead h2{font-size: 30px;}

	.pmservices h2{
		width: 160px;
		display: inline-block;
	}

	.pmservices .middleSlash{
		margin-top: -15px;
	}

	.abtRowTR p{
		font-size: 18px;
	}

	.discoverCont{
		padding-top: 20px;
	}

	.stepVR{
		font-size: 18px;
	}

	.stepVR img{
		width: 40px;
		margin-top: 0px;
		margin-right: 10px;
	}

	.verticalSep{
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.verticalSep::before{
		content: '';
		position: absolute;
		width: 1px;
		background-color: #eee;
		margin-right: auto;
		margin-left: auto;
		top: 12px;
		right: 10px;
		left: 100%;
	}

	.verticalSepR, .verticalSepL{
		width: 86%;
		display: inline-block;
		text-align: right;
		position: relative;
	}

	.stepVR{
		right: -15px !important;
		top: 70px;
		transform-origin: 100% 100%;
		transform: rotate(90deg);
	}

	.verticalSepP1{
		font-size: 18px;
		line-height: 22px;
		padding-top: 10px;
	}

	.verticalSepP2{
		font-size: 14px;
		line-height: 22px;
	}

	.stepVL{
		display: none;
	}

	.verticalSepLCont{
		width: auto;
		display: block;
		padding-bottom: 0px;
		text-align: right;
	}

	.verticalSepRCont{
		width: auto;
		display: block;
		padding-bottom: 0px;
	}

	.reviewBlock{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		background: url(../../images/reviewbg2.png) no-repeat center center;
		background-size: cover;
		margin-top: 50px;
	}

	.reviewL{
		width: 90px;
	}

	.reviewL img{
		width: 60px;
	}

	.reviewR p{
		font-size: 14px;
		padding-left: 0px;
	}

	.reviewR{
		width: 215px;
	}

	.reviewSign{
		padding: 5px 15px 20px;
	}

	.abtRowBCont{
		font-size: 14px;
		margin-top: 20px;
	}

	.abtRow .col-md-4, .abtRow .col-md-6{
		margin-bottom: 20px;
	}
	.landlords .abtRow .col-md-4,
	.BenefitsBlock .abtRow .col-md-4{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.BenefitsCont{
		min-height: 50px;
	}
	.BenefitsCont .abtRowTR p{
		font-size: 14px;
		padding-top: 0;
	}
	.BenefitsCont .abtRowTL{
		align-self: flex-start;
	}

	.abtRow{
		padding-top: 50px;
	}

	.bannerPM .bannerText{
		padding: 80px 0 30px;
	}
	.col-md-3 .abtRowTR p{
		font-size: 16px;
	}

	.bannerBlock .col-md-3{
		width: 250px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
	}

	.bannerBlock{
		padding-bottom: 10px;
	}

	.pmBBlockImg{
		font-size: 14px;
		padding-top: 20px;
		line-height: 20px;
	}

	.bannerVal{
		font-size: 16px;
		line-height: 24px;
	}


	.pmBBlock{
		height: 150px;
	}

	.abtRowTL{
		width: 60px;
	}

	.banner{
		margin-right: auto !important;
		margin-left: auto !important;
		margin-top: 0px !important;
		padding-top: 0px !important;

	}

	.blogBanner{
		background: url(../../images/banner2.jpg) transparent center center no-repeat;
		margin-right: auto !important;
		margin-left: auto !important;
		margin-top: 0px !important;
		padding-top: 0px !important;
		background-size: cover;
		min-height: 450px !important;
		height: auto;
	}
	

	.bannerPM{
		background: url(../../images/pmbg2.png) transparent no-repeat;
		margin-right: auto !important;
		margin-left: auto !important;
		margin-top: 0px !important;
		padding-top: 0px !important;
		float: none;
		background-size: cover;
	}
	.textBlock{
		font-size: 16px;
		text-align:right;
	}
	.textBlock h2{
		font-size: 24px;
		text-align:right;
	}

	.vpatL{
		position: absolute;
		left: 30px;
		right: auto;
		top: -100px;
	}

	.blogPostH{
		font-size: 18px;
	}

	.blogPostP{
		font-size: 16px;
	}

	.bannerAbout{
		background-position: bottom left -150px;
		margin-right: auto !important;
		margin-left: auto !important;
		margin-top: 0px !important;
		padding-top: 80px !important;
		padding-bottom: 30px !important;
		background-size: cover;
	}

	.mediaHead{
		flex-wrap: wrap;
	}
	.navCatList-item{margin: 3px}
	.navCatList-item:first-child{margin-right: 0;}
	.postVideo, .postImg, .postVideo iframe, .video-post iframe{
		height: 192px;
	}
	.postContent,
	.news-head{
		padding: 20px;
	}
	.blogPostH{
		font-size: 18px;
	}
	.blogPostP{
		color: #333;
		opacity: 1;
		transform: none;
		margin: 0;
		position: relative;
		padding: 10px 0 0;
		font-size: 13px;
		line-height: 1.3;
	}
	#topSearch{padding-bottom: 20px;}

	.aboutBText{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.aboutHeader{
		font-size: 24px;
		text-align:right !important;
	}

	.aboutText2, .aboutText3{
		font-size: 16px;
		text-align:right !important;
	}
	.aboutPage .projectHeading, .page-template-template-services .projectHeading{
		display: flex;
		align-items: center;
	}
	.aboutPage .projectHeading h2, .page-template-template-services .projectHeading h2{
		flex-grow: 1;
	}

	.aboutPage .projectHeading{
		margin-top: 30px;
	}

	.aboutPage .middleSlash, .page-template-template-services .middleSlash{
		margin: 0 !important;
	}

	.aboutBlockCont{
		background: url(../../images/about-bg-2.png);
		background-size: cover;
		padding-top: 20px;
		padding-bottom: 0px;
	}

	.aboutBlockCont .col-md-4{
		margin-bottom: 30px;
	}

	.block2H h2{
		font-size: 24px;
		width: 200px;
		text-align:right !important;
	}

	.block2HS{
		margin-top: -15px;
		text-align:right !important;
	}

	.companyrec{
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 70px;
	}

	.companyrec2{
		display: inline-block;
		position: absolute;
		left: -2px;
		bottom: -80px;
		width: 120px;
		z-index: -1;
	}

	.block2H p{
		font-size: 15px;
		padding-top: 15px;
		text-align:right !important;
	}

	.block2H p span{
		font-size: 15px;
		text-align:right !important;
	}

	.companyProfile h2{
		font-size: 21px;
	}

	.companyBullet{
		width: 39px;
		top: 0;
		right: -50px;
	}

	.companyPP{
		padding-left: 0px;
		font-size: 14px;
	}

	.block2D{
		padding-right: 30px;
		margin-bottom: 0px;
	}

	header{
		padding-top: 15px;
	}

	.bannerText{
		padding-top: 60px;
	}

	.bannerHeading{
		font-size: 28px;
	}
	.page-template-template-services .bannerHeading{
		font-size: 24px;
	}

	.menuIcon img{
		width: 25px;
	}

	.bannerSubHeading{
		font-size: 16px;
		font-weight: normal;
	}

	.searchForm{
		width: 340px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 30px;
	}

	.searchMenu > li a{
		background-color: #f5f5f5;
		/*color: #333;*/
		display: block;
		width: 110px;
		font-family: Cairo, sans-serif;
		font-size: 14px;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #60636f;
		padding: 12px 0;
		text-decoration: none;
		border: solid 1px #eee;
	}
	.mobileMenu .menusContainer{
		flex: 0 0 100%;
	}
	.menusContainer, .langContainer, .btnContainer{
		display: none;
	}

	.mobileMenu .langContainer .whatContainer span{
		font-size: 22px;
		text-align: right;
	}
	.mobileMenu .langEl{
		display: block;
		position: absolute;
		top: 7px;
		left: 60px;
	}
	.mobileMenu .menuItem{
		font-size: 20px;
	}
	.mobileMenu .btnContainer{
		display: block;
		order: 3;
		padding: 0;
		margin: 25px auto 0;
		flex: 0 0 100%;
		text-align: center;
	}
	.mobileMenu .btnContainer .sellPropertyBtn{
		font-size: 12px;
	}

	.propertiesRow .col-md-4{
		width: 100% !important;
	}

	.advRow .col-md-3, .abtRow .col-md-3, .awardRow .col-md-3, .footer .col-md-3{
		width: 100% !important;
		
	}

	.contactFtContainer .col-md-7{
		width: 100% !important;
	}
	.awardTextBottom{height: auto;}
	.awardText{ box-shadow: 0 7px 17px 0 rgba(200, 200, 200, 0.2);}
	.awardText, .awardTextBottom{width: 100%}
	.awardTextBottom{padding: 20px}
	.awardTextP{margin-bottom: 0}
	.awardRow .col-md-3 > img{margin-right:-10px}
	.contactFtContainer .col-md-5{
		width: 100% !important;
		background: #fff;
		padding: 0 !important;
		margin: 0 10px;
	}

	.footer .col-md-2, .copyRightCont .col-md-2{
		width: 100% !important;
	}

	.copyRightCont .col-md-8{
		width: 100% !important;
	}

	.container{
		width: 360px !important;
		max-width: 360px !important;
		min-width: 360px !important;
		margin-right: auto !important;
		margin-left: auto !important;
		position: relative;
		text-align:right;
	}

	.bgDottedR{
		display: none;
	}

	.searchArea{
		width: 339px;
		padding: 30px 20px 30px;
	}

	.locationContainer{
		width: 100% !important;
		margin-bottom: 15px;
	}

	.selectContainer{
		width: 100%;
		flex-basis: 100%;
		margin-right: 0;
		margin-bottom: 15px;

	}

	.currency-switcher{
		width: 100% !important;
	}

	.selectContainerBtn{
		width: 100% !important;
		flex-basis: 100%;
		margin-right: 0;
		margin-top: 15px;
	}

	.selectContainerBtn button{
		width: 100% !important;
	}

	.projectHeading h2{
		font-size: 20px;
		padding-right: 2px;
		padding-left: 2px;
	}

	.middleSlash{
		width: 50px;
		margin-top: 6px;
	}

	.featureProjects{
		padding: 40px 0 0;
	}

	.projectTopBtn{
		text-align: center;
		margin-bottom: 25px;
	}

	.propertiesRow{
		padding-top: 30px;
	}

	.bgDottedL{
		position: absolute;
		left: 0;
		right: auto;
		top: -100px;
		width: 100px !important;
		z-index: -1;
	}

	.bgDottedLAgents{
		top: 0;
		width: 80px !important;
	}

	.featureProjects{
		padding-bottom: 10px;
	}
	.abtRow.offplan, .abtRow.newsRow{
		padding-top: 15px;
	}
	.offplan-image, .news-image{
		height: 235px;
	}
	.offplan-desc .desc {font-size: 15px !important;text-align:right}
	.ofploc, .newsDesc{font-size: 15px;text-align:right}
	.ofpH2, .newsH2{font-size: 18px; margin-bottom: 3px;text-align:right}
	.offplan-head{padding-top: 10px;text-align:right}
	.offplan .col-md-4{
		margin-bottom: 20px !important;
		text-align:right;
	}
	.aboutBtm{padding-top: 10px}
	.aboutBtm p{
		margin-bottom: 0;
		font-size: 16px;
		padding-bottom: 0;
	}

	.abtRow .col-md-3{
		margin-bottom: 25px;
	}

	.ownerMsgMobile{
		display: block;
		width: 100%;
	}
	.contactFtContainer{
		margin-top: 40px;
		background-position: center bottom;
	}
	.contactFtL{
		width: 100%;
		margin-right: 0px;
		position: relative;
		bottom: auto;
	}

	.contactFtRTH{
		font-size: 18px;
		font-weight: bold;
		display: inline-block;
		padding: 0px;
	}

	.contactFtRTS{
		width: 50px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -5px;
		margin-right: 10px;
	}

	.contactFtRT{
		padding: 15px 15px;
	}

	.contactFtRT2, .contactFtRT3{
		padding: 5px 15px;
	}

	.newsLetter{
		margin-right: auto;
		margin-left: auto;
		padding: 50px 15px 50px;
	}

	.newsletterF{
		width: 100%;
	}

	.newsletterF input{
		width: 100%;
		float: none;
	}

	.newsletterBtn{
		width: 100%;
		float: none;
		margin-top: 20px;
	}

	.footer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 0;
		padding-bottom: 30px;
		text-align:right;
	}

	.footer1{
		display: none;
		text-align:right;
	}
	.footer .col-md-3{
		text-align: left;
	}
	.areaSelect{margin-top: 0; margin-bottom: 30px; float: none}
	.footer .container:not(.copyRightCont) .col-md-3:not(.footer1){margin: 30px 0 0}

	.socialIcons{
		text-align: center;
		margin-bottom: 30px;
	}

	.copyRightCont .row > *{
		text-align: center !important;
	}
	.copyRightCont p{
		text-align: center;
		padding-right: 50px;
		padding-left: 50px;
		margin-top: 70px;
		padding-bottom: 10px;
	}

	.copyRightCont .col-md-2{
		text-align: center !important;
		margin-top: -120px;
	}

	.copyRightCont .col-md-2:nth-child(2){
		text-align: center !important;
		margin-top: -90px;
	}


	.pageInputCont{
		width: 100%;
		margin-bottom: 15px;
	}

	.pageInputLoc{
		width: 100%;
	}

	.selectField{
		width: 100% !important;
	}

	.filterBtn, .filterBtn:hover{
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}

	.pageSearchB .pageInputCont{
		display: inline-block;
		width: 81%;
		margin-left: 0;
	}

	/*.pageSearchB > span{*/
	/*	width: 50%;*/
	/*	flex-basis: 50%;*/
	/*	margin-bottom: 0;*/
	/*}*/

	.pageSearchB .pageSelectSort{
		width: 100%;
		margin-right: 0;
	}

	.paginationMobile{
		display: block;
	}

	.paginationDesktp{
		display: none;
	}

	.mapSection{
		height: 500px;
		margin-top: 10px;
	}

	.mapControls{
		position: absolute;
		top: 30px;
		right: 20px;
		z-index: 100;
	}

	.mapControls .checkbox{
		background-color: #fff;
		padding-right: 7px;
		padding-left: 7px;
		padding-bottom: 8px;
		border: solid 1px #d7d7d7;
		display: inline-block;
	}

	.mapControls .checkbox input{
		margin-left: 5px;
	}

	.mapControls .checkbox label{
		font-size: 13px;
		padding-top: 7px;
		font-family: Cairo, sans-serif;
		margin-bottom: 0px;
	}

	.mapControls a, .mapControls a:hover{
		font-size: 13px;
		padding: 10px;
		font-family: Cairo, sans-serif;
		margin-right: 0px;
		background-color: #fff;
		border: solid 1px #d7d7d7;
		color: #333;
		text-decoration: none;
	}

	.blogSubHead{
		font-family: Cairo, sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.3;
		letter-spacing: normal;
		text-align: center;
		color: #fff;
		padding: 15px 0;
	}
	.featureProjects .col-md-3:nth-last-child(2){margin-bottom: 25px}
	.col-md-4.newsCol,
	.featureProjects.fPawards .col-md-3,
	.featureProjects .col-md-3,
	.agentsRow .col-md-4,
	.vacancies .col-md-4{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.col-md-4.newsCol:last-child{display: initial}
	.pageHeader:not(body){
		padding: 15px 0;
	}
	.projectHeading.agentsTitle h2{
		font-size: 20px;
	}
	.joinBanner.bannerPM .bannerText{
		padding-top: 40px;
	}
	.joinBanner .bannerHeading{
		font-size: 26px;
	}
	.joinBanner .bannerSubHeading{font-size: 14px}
	.page-template .bannerPM.joinBanner{min-height: 450px}
	.joinTextBlock ul li{font-size: 18px !important;}
	.headVacancies h3{font-size: 20px}
	.titleVacancy,
	.textBlock .question{
		font-size: 26px !important;
		text-align:right;
		color: #02b2ee;
	}
	.joinVideo{margin-top: 40px}
	.locateOffice{font-size: 14px}
	.textJoin .joinVideo iframe{
		height: 192px;
	}
	.owl-carousel .owl-item img{height: 100%}
	.featureProjects.sliderFW{padding-bottom: 0}
	.gallerySlider .owl-prev, .gallerySlider .owl-next{
		width: 40px;
		height: 40px;
	}
	.gallerySlider .owl-prev span, .gallerySlider .owl-next span{
		font-size: 30px;
		line-height: 19px;
	}
	.gallerySlider .owl-next{
		left: 15px;
	}
	.gallerySlider .owl-prev{left: 15px}
	.gallerySlider .owl-dots{bottom: 10px}
	.gallerySlider .owl-dot{width: 8px; height: 8px}
	.footerForm label{font-size: 14px}
	.joinForm .pmFooterInner h2{width: 260px}
	.joinForm .middleSlash{width: 20px}
	.full-width_block{
		background-position: top -250px center;
		background-size: auto 500px;
		padding-top: 300px;
	}
	.fwDesc{font-size: 14px}
	.full-width_block .container{padding: 0}
	.fPabout .aboutBtm p{font-size: 16px}
	.aboutText1{font-size: 18px;text-align:right;}
	.langSwicher{padding: 0}
}
@media (max-width: 480px){
	.full-width_block{
		background-position: top -50px center;
		background-size: auto 300px;
		margin: 30px 0 40px 0;
	}
}
@media (max-height: 700px){
	.home-video-content{
		height: 100% !important;
	}
}