/* BY GPS Sean */
.x-unit-title{
    font-size:0.85em !important;
    z-index:1;
    text-align:center !important;
    direction:ltr;
}

.x-contact-basic ul{
    padding-left:initial;
    padding-right:0;
}

.property-archive.featureProjects,
.x-main-wrap.featureProjects{
	padding:0;
}

.x-init-info-content{
    font-size: 1.1em;
}

.x-unit-price{
    font-size: 1.4em;
}

.x-desc{
    text-align:left !important;
    direction:ltr;
    font-size:15px;
}

.tab-options{
    box-shadow:-2px 2px 10px #ccc;
}


.x-unit-facilities-listing{
    position:relative;
    display:flex;
    width:100%;
    flex-wrap:wrap;
    margin-top:40px;
    list-style:none;
}

.x-unit-facilities-listing li{
    direction:ltr !important;
   /* text-align:left !important;*/
}

.x-unit-facilities-listing li:before{
    left:initial;
    right:0;
}

.x-contact-pre{
    padding-left:0;
    padding-right:0px;
}

.x-contact-pre:before{
    left:initial;
    right:0;
}

.x-init-info-entry{
    padding-left:0;
    padding-right:60px;
}

.x-init-info-entry:before{
    left:initial;
    right:0;
}

.x-contact-basic li{
    padding-left:0;
    padding-right:60px;
}
    /*change*/
.x-contact-entry-listing {
    direction:ltr !important;
    display:inline-block;
    padding:10px 0;
}

.x-contract-entry-icon{
    left:initial;
    right:0;
}

.x-offplan-details::before{
    left:initial;
    right:0;
    top:0;
}

.inquiry-overlay{
    left:initial;
    right:0;
}

.inquiry-wrap {
    overflow: scroll;
    max-height: calc(100% - 77px);
    transform: none;
    top: 77px;
}
/* Styling at Breakpoint 1280px */
@media (max-width:1280px){
    .x-init-info-content{
        font-size:20px;
    }

    .x-unit-price{
        font-size: 36px;
    }

    .x-desc{
        width:100%;
        padding-right:40px;
        padding-left:40px;
    }

    .x-unit-intro-content{
        padding-right:40px;
        padding-left:40px;
    }

}/*@media 1280*/


/* Styling at Breakpoint 1280px End */


/* Styling at Breakpoint 968px */
@media (max-width:968px){
    .x-unit-facilities-listing li{
        width: 33.33%;
        font-size:1.1em;
    }

}/*@media 968*/

/* Styling at Breakpoint 968px End */



/* Styling at Breakpoint 768px */
@media (max-width:768px){
    .x-unit-title{
        font-size:40px;
    }

    .x-init-info-entry{
        padding-left:0;
        padding-right: 40px;
    }

    .x-init-info-entry:before{
        width: 25px;
        height: 25px;
    }

    .x-unit-facilities-listing li {
        width: 50%;
        padding-left:initial;
        padding-right:28px;
    }

    .x-contact-basic ul{
        padding-left:0;
        padding-right:20px;
    }

    
    .x-unit-facilities-listing li {
        font-size:1em;
    }


    .x-desc {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .x-desc p{
        font-size:15px;
    }

    .inquiry-wrap{
        left:initial;
		right: 0px;
    }


}/*@media 768*/

/* Styling at Breakpoint 768px End */
/* FOR MANUAL HTML TEMPLATE 1 END */


/* TEMPLATE 2 STYLING */


.y-property-init-det-wrap > div{
    padding-left:0;
    padding-right:60px;
}

.y-property-init-det-wrap > div:before{
    left:initial;
    right:25px;
}

.y-label-icon{
    left:initial;
    right:0;
}

.y-price-wrap > div:nth-child(2){
    width:35%;
    text-align:left;
}

.y-inquiry-form-wrap{
    box-shadow:-3px 3px 10px #ccc;
    left:initial;
    right:50%;
    transform:translateX(50%);
}

.y-proj-tbl td{
    padding-left:10px;
    padding-right:0;
}

.y-pictures-wrap{
    padding-right:20px;
    padding-left:20px;
}

.y-img-container1{
    left:initial;
    right:150px;
    width:800px;
    height:600px;
    box-shadow: -50px 50px 0px #f9f9f9;
    top: -70px;
}

.y-img-container2{
    left:initial;
    right:-370px !important;
    width:800px;
    height:600px;
    box-shadow:50px 50px 0px #f9f9f9;
    top: 100px;

}

.y-feats-amen .x-unit-facilities-subtitle{
    text-align:right;
}

.y-feats-amen .x-unit-facilities-listing{
    padding-left:initial;
    padding-right:0;
}


/*BreakPoint 992*/
@media(max-width:993px){
    
    .y-img-container1{
        left:initial;
        right:0;
    }
    .y-feats-amen{
        padding-top:40px;
        padding-right:40px;
        padding-left:40px;
    }
    .y-pictures-wrap{
        padding-right:0;
        padding-left:0;
    }
    .y-property-init-det-wrap > div:before{
        right:initial;
        left:0;

    }
    
	.y-feats-amen .x-unit-facilities-subtitle,
	.y-feats-amen .x-unit-facilities-listing li{
		font-size:1em;
	}
	
	.y-img-container1{
		right:initial!important;
		left: 0!important;
	}

}

/*End of BreakPoint 992*/
/* END OF TEMPLATE 2 STYLING */


.property-search-section{
	background-image:url('../../images/filter-bg.jpg');
}

.property-search-section > article > form.searchandfilter input{
    padding-left:0;
	padding-right:50px!important;
}

@media (max-width:992px){
   
    .property-search-section > article > form.searchandfilter select{
        width:70%
    }
    .property-search-section > article > form.searchandfilter input{
        width:70%;
    }

    .property-search-section > article > form.searchandfilter input[type="submit"]{
        width:70%!important;
    }

    .property-search-section > article > form.searchandfilter  ul{
        width:70%;

    }
    .property-search-section > article > form.searchandfilter  li{
        width:80%;
        margin-bottom:10px;
    }

    .property-search-section{
        padding-top:50px;
    }
}

@media (max-width:600px){
	.property-search-section{
		height:490px;
	}
}

.listing-entry-title {
    /*changed*/
    text-align:right!important;
    font-family:"Cairo";
    font-size:1em;
}

.listing-entry-community {
    /*changed*/
    text-align:right!important;
    font-family:"Cairo";
    font-size:0.8em;
}

.listing-entry-dets{
    /*changed*/
    text-align:left!important;
    font-family:"Cairo";
    font-size:0.8em;
}

.listing-entry-price{
    /*changed*/
    text-align:right!important;
    font-family:"Cairo";
    font-size:1em;
    
}

.listing-entry-dets-container > div{
	text-align:left!important;
}

.listing-entry-dets-container > div:first-child{
	text-align:right!important;
}


form.searchandfilter label{
    font-size:0.75em!important;
    height:50px;
    padding:0;
}

.property-search-section > article > form.searchandfilter input{
    font-size:0.8em!important;
    height:50px;
     padding:0;
     padding-right:8px;
     padding-left:8px;
}

.property-search-section > article > form.searchandfilter select{
    font-size:0.8em!important;
    height:50px;
    padding:0;
     padding-right:8px;
     padding-left:8px;
}

li.sf-field-search label::before{
    left:initial;
    right:15px;
}

li.sf-field-post-meta-price > div > label{
    width:50%;
    padding-right:initial;
    padding-left: 5px;
}

li.sf-field-post-meta-price > div > label:nth-child(3){
    padding-right:5px!important;
    padding-left:0;
}

@media (max-width:600px){
	
	.searchandfilter ul{
		flex-wrap:wrap;
		background:none;
	}

	.searchandfilter ul li{
		position:relative;
		width:100%;
		margin-bottom:3px!important;
	}

	.searchandfilter ul li label{
		width:100%!important;
	}

	.property-search-section{
		height: auto;
		padding-top:20px;
	}

	article h1.property-section-title{
	    font-size:1.4em!important;
	}

	.property-search-section > article > form.searchandfilter{
     margin-top:0px;
     padding-bottom:20px;
	}

    .property-search-section > article > form.searchandfilter input[type="submit"]{
        width:100%!important;
    }

}


a.listing-whatsapp {
    margin-left:initial;
    margin-right:5px;
}

a.listing-whatsapp img{
    position:relative;
    width:25px;
    height:25px;
}


.listing-entry{
    text-align:right;
}

div.listing-entry ul.propertyHead-icons{
	text-align:right;
}


.listing-entry .propertyHead-icons_item{
    padding-left:20px!important;
    padding-right:24px!important
}

.listing-detail-container{
	text-align:right!important;
}

.listing-entry-price{
	font-size:1.25em;
}

.property-sorter-container {
    text-align:left;

}


a.listing-whatsapp img{
    width:25px;
    height:25px;
}


.property-search-section li.sf-field-post-meta-unit_builtup_area > h4{
    font-size:0.9em!important;
    left: initial;
    right:5px;
    top:0;
}

.property-search-section li.sf-field-post-meta-unit_builtup_area span.sf-range-min{
    right:initial;
    left:5px!important;
    top:0;
    font-size:0.9em;
    text-align:left;
    top:5px;
}

.property-search-section li.sf-field-post-meta-unit_builtup_area .sf-range-values-seperator{
    right:initial;
    left:55px;
    top:3px;
}

.property-search-section li.sf-field-post-meta-unit_builtup_area span.sf-range-max{
    direction:ltr;
    right:initial;
    left:68px;
    text-align:left;
    width:120px;
    max-width:120px;
    display:block;
    top:5px;

}

.property-sorter-right{
    text-align:left;
}

.property-sorter-left {
    text-align:right;
}

a.property-transaction-switcher{
    font-size:0.9em!important;
    padding:12px;
}

div#ajaxsearchprobsettings6_1 {
    max-width:100%!important;
}

div.ajaxsearchpro.searchsettings fieldset legend{
    display:none;
}

div.property-search-filters div.asp_w.asp_sb.searchsettings form{
 flex-direction:row!important;
}

.prp-search-btn{
	right:auto!important;
	right:initial!important;
	left:0;
}

.asp_select2-selection__rendered{
    text-align:right!important;
}

.asp_select2-selection__arrow{
    right:auto!important;
    right:initial;
    left:1px!important;
}

.asp_select2-results__option{
    text-align:right;
}


.prp-dets-con span.prp-dets {
    text-align:left!important;
}

a.listing-whatsapp {
    right:auto!important;
    right:initial!important;
    left: 0px;
    bottom: 4px;
}
a.listing-whatsapp span.whapp{
    margin: 0 0 0 7px;
}

div.asp_content div.property-status-tag{
    right:15px;
    text-align:center!important;
}

ul.asp_select2-selection__rendered {
    direction:rtl!important;
}

.asp_select2-search__field{
    text-align:right!important;
    direction:rtl!important;
}

ul.asp_select2-selection__rendered li.asp_select2-selection__choice{
    float:right!important;
}

ul.asp_select2-selection__rendered li.asp_select2-search.asp_select2-search--inline {
    float:right!important;
}

div.property-archive div.property-search-filters form.asp-fss-flex > fieldset.asp_s_btn_container .asp_r_btn_div{
	text-align:left!important;
}

div.asp_w.asp_r.isotopic nav.asp_navigation ul{
    left:auto!important;
    left:initial!important;
    right:36px!important;
    text-align:right!important;
}
.y-property-init-det-wrap > div{
    padding-left:60px !important;
    padding-right:0 !important;
}

.y-property-init-det-wrap > div:before {

    right: initial;
    left:25px;
}

.asp_main_container,
.asp-try,
.wpdreams_asp_sc,
.asp_main_container *,
.asp-try *,
.wpdreams_asp_sc * {
     font-family: 'Cairo' !important;
}

input.orig::-webkit-input-placeholder {
   font-family: 'Cairo' !important;
}
  
input.orig:-moz-placeholder { /* Firefox 18- */
   font-family: 'Cairo' !important;
}
  
input.orig::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Cairo' !important;
}
  
input.orig:-ms-input-placeholder {
   font-family: 'Cairo' !important;
}

.sf-field-post-meta-price .sf-range-min  {
   font-family: 'Cairo', sans-serif !important;
}

.asp_nores_header {
    font-size: 14px !important;
}
.asp_keyword {
    font-size: 14px !important;
}



span.asp_select2-container span.asp_select2-selection__rendered,
ul.asp_select2-results__options li.asp_select2-results__option{
	font-family: 'Cairo', sans-serif !important;
}

.prp-search-btn{
	font-family: 'Cairo', sans-serif !important;
}

div.asp_select_label span.asp_select2 span.prp-search-btn{
	font-family: 'Cairo', sans-serif !important;
}

p.property-desc-title,
p.property-desc-writeup {
    text-align:right!important;
}

.property-status-tag {
    left:auto;
    left:initial;
    right:20px;
}
@media all and (max-width: 993px) {
    .y-img-container1 {
        right: initial!important;
        top: 0;
        width: 100%;
        box-shadow: none;
        height: 300px;
    }
}
@media all and (max-width: 767px) {
    .y-property-init-det-wrap > div{
        width: auto !important;
        padding-left: 20px !important;
        margin-bottom: 20px !important;
    }
    .y-property-init-det-wrap{margin-bottom: 0}
    .y-feats-amen{padding: 30px 15px}
    .unit-contact-form .half-column{padding-right: 0 !important;}
    .x-contact-basic ul{padding-right: 0}
    div.wpcf7 .ajax-loader{float: left}
}
/* END OF LISTING ARCHIVE */

/* 05 10 2020 - GPS */
.uncf-label{
    text-align:right;
    font-family:Cairo;
}

.unit-contact-form input[type="submit"]{
    width:100%;
}
.y-init-det-label{
    font-family:Cairo;
}

.y-inquiry-form-wrap .unit-contact-form textarea{
    font-family:Cairo;
    text-align:right;
}

.y-inquiry-form-wrap .unit-contact-form input{
    font-family:Cairo;
}


.y-feats-amen h2,
.x-unit-facilities-subtitle,
.y-feats-amen .x-unit-facilities-listing li,
.x-contact-pre,
.x-contact-basic h3,
.unit-contact-form input, .unit-contact-form textarea,
.y-feats-amen .x-unit-facilities-subtitle,
.x-contact-basic li .x-contact-entry-listing,
.y-tab-btn,
.y-sticker,
.showAllPrp,
.property-section-title,
.x-contact-entry-label,
.y-det-container tr td:first-child, .y-det-container tr td:nth-child(3){
    font-family:Cairo!important;
}


.unit-contact-form input, .unit-contact-form textarea{
    text-align:right;
}

/* 05 10 2020 - GPS END */