/* Plugin Name: Search and Filter Pro styling for Travelator */
/* This is the static CSS file */

/* Generals */
.term-title h1 {
  font-size: 1.6em;
}
body.category .term-title h1:before {
  font-size: 1.6em;
}
#footer {
  background: #2a3d4b;
}
h2, h3, h4, h5, h6, h7, h8 {
  text-transform: initial !important;
}
/* Hide the slider on small screens */
@media (max-width:959px) {
div#top-slider {
  display: none !important;
}
}
#footer-social {
  background: #2a3d4b;
}

/* Full page width and sidebar adjustments */
body.home.page #sidebar, body.blog #sidebar, body.archive #sidebar, body.single #sidebar {
  padding-top: 16px;
}
@media (min-width:1420px) {
	#content-layout {
	  width: 1400px;
	}
	#content-box {
	  width: 1050px !important;
	}
	.searchandfilter label {
	  min-width: calc((100% / 7) + 20px) !important;
	}
}

/* 2 columns homepage layout */
@media (min-width: 1320px) {
	div.post-halves {
	  width: calc(50% - 37px);
	  display: inline-block;
	  margin-bottom: 10px !important;
	  padding: 15px;
	  border: 1px solid #ddd;
	}
	div.post-halves[post-position="left"] {
	  float: left;
	}
	div.post-halves[post-position="right"] {
	  float: right;
	}
}
@media (max-width: 1319px) {
.post-halves {
  padding-bottom: 0;
  padding-top: 10px !important;
}
}
div.post-halves .st-format-standard-holder, div.post-halves .st-format-gallery-holder {
  position: relative;
  width: calc(100% - 20px);
  margin: 0 10px;
}
div.post-halves .st-format-standard-holder a, div.post-halves .st-format-gallery-holder a, div.post-halves .st-format-gallery-holder .st-gallery {
  height: 206px;
  overflow: hidden;
}
div.post-halves .st-gallery ol li.st-gallery-tab-current {
  display: none;
}
div.post-halves h3.post-title {
  font-size: 1.2em !important;
  height: 42px;
  max-width: 100%;
  margin-left: 10px !important;
  text-align: left !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.post-halves .meta {
  font-size: 0.48em;
  margin: 5px 0 0 80px !important;
}
div.post-halves .meta .ico16 {
  margin-right: 10px;
}
div.post-halves .travelator-vezi-oferta, 
div.sidebar .travelator-vezi-oferta {
  text-align: center;
  background-color: #96cd00;
  margin: 10px;
}
div.post-halves .travelator-vezi-oferta a, 
div.sidebar .travelator-vezi-oferta a {
	color: white;
	display:inline-block;
	width:100%;
	height:100%;
}
div.sidebar .travelator-vezi-oferta a {
	font-size: 15px;
	font-weight: bold;
}
.mc4wp-form-fields input[type="submit"] {
  background-color: #ee6753;
  border-color: #ee6753;
  color: white;
}
.mc4wp-form-fields input[type="submit"]:hover {
  color: black;
}

/* Header stuff styling */
#header-layout {
  background-color: #2a3d4b;
}
div#header-holder-3 {
  background-color: rgb(42,61,75);
  position: relative;
}
@media (min-width: 1420px) {
div#header-holder-3 {
  width: 1400px;
  margin: 0 auto;
}
}
@media (min-width: 1320px) and (max-width: 1419px) {
div#header-holder-3 {
  width: 1200px;
  margin: 0 auto;
}
}
@media (min-width: 960px) and (max-width: 1319px) {
div#header-holder-3 {
  width: 935px;
  margin: 0 auto;
}
}
@media (min-width: 640px) and (max-width: 959px) {
div#header-holder-3 {
  width: 640px;
  margin: 0 auto;
}
}

/* Specific header elements .. */
div#logo {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px !important;
  margin-left: 0px;
  width: 290px;
}
div#logo h1 {
  padding: 0 !important;
}
div#tagline, div#logo {
  display: inline-block;
  vertical-align: bottom;
}
div#tagline {
  margin: auto auto 10px 20px;
  color: white;
}
div#head-search #form-head-search input[type="text"] {
	border-radius: 10px;
    padding: 5px;
	width: calc(100% - 10px);
}
@media (min-width: 960px) {
form#form-head-search {
  width: 288px;
}
}

/* New, Small Nav Header Menu */
div#main-menu, 
div#main-menu > div, 
div#main-menu > div > ul, 
div#main-menu > div > ul > li {
  display: inline-block;
    border: 0;
}
div#main-menu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -15px);
}
#main-menu .menu-new-primary-container {
  line-height: normal;
}
#main-menu ul > li > a {
  padding: 0px 10px !important;
  color: white;
}
#main-menu ul > li.current-menu-item > a {
  color: yellow;
}
div#main-menu > div > ul > li > a::before {
  display: none;
}
@media (min-width:960px) {
	div#head-search {
		display: inline-block;
		right: 12px;
		bottom: 20px;
		position: absolute;
	}
	div#main-menu > div > ul > li > a {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 1.3em;
	}
}
/* AND for mobile header ...  */
@media (max-width:959px) {
	#logo {
		margin-left: 0px;
		width: 75% !important;
	}
}
@media (min-width:480px) AND (max-width:959px) { /* START HERE!!! */
	div#head-search {
		display: block;
		bottom: 8px;
		position: relative;
		margin: 8px;
	}
	div#main-menu {
		left: 0;
		position: relative;
		transform: initial;
		margin: 10px 0;
	}
	div#header-holder-3 {
		text-align: center;
	}
}
/* And for even smaller screens ... */
@media (max-width:479px)  {
	#head-search {
		display: block;
		bottom: 8px;
		position: relative;
		margin: 8px;
	}
	div#head-search #form-head-search input[type="text"] {
		width: calc(100% - 10px);
	}
	div#header-holder-3 {
		text-align: center;
	}
	div#main-menu {
		left: 0;
		position: relative;
		transform: initial;
		margin: 10px 0;
	}
}

/* SEARCH AND FILTER PRO !! */
/* Hide the search box in drop-down lists for Select2 */
.search-and-filter-title {
  margin: 0 15px 8px !important;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  width: 90%;
}
.select2-dropdown .select2-search.select2-search--dropdown {
    display: none;
}
.searchandfilter li h4 {
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  text-transform: none;
  letter-spacing: 0;
  color: #ee6753;
}
/* Make the container fit the lists */
.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: block;
	overflow: initial;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 0 0 5px;
}
.searchandfilter>ul>li label {
	height: auto;
}
/* Styling taxonomy filters */
.search-and-filter {
    background-color: white;
    margin: 10px 0 20px 0;
	border: 1px solid #ddd;
	padding-top: 8px;
}
.search-and-filter ul {
	margin: 0 0 0 12px;
}
.searchandfilter > ul > li > label {
	border: 1px solid #ddd !important;
	border-radius: 8px;
}
.searchandfilter > ul > li > label > select {
	border: 0px solid #ddd !important;
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection {
	border: 0;
	display: table;
	width: calc(100% - 10px) !important;
	background-color: transparent;
}
.searchandfilter > ul > li > label > .select2 {
	width: 100% !important;
	/* max-width: calc(100% / 7) !important; */
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection > ul > li.select2-search > input.select2-search__field {
	position:absolute;
	background: none !important;
	margin: 1px 0;
}
.searchandfilter > ul > li > label > .select2 .selection .select2-selection > ul > li.select2-search > input.select2-search__field::-webkit-input-placeholder {
	padding-left: 2px;
}
.searchandfilter .select2-selection__rendered li.select2-selection__choice:nth-last-of-type(2) {
	margin: 0px;
}
.searchandfilter .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	/* background-color: #fbe9ee !important; */
}
.search-and-filter .searchandfilter > ul > li > * {
    margin: 15px 1px;
}
.searchandfilter ul li li {
  padding: 0;
}
.search-and-filter .select2-selection {
	border-radius: 0;
	height: 22px;
	min-height: 0;
}
.search-and-filter .select2-selection__rendered {
  margin: 0 3px;
  color: #888 !important;
  line-height: 18px !important;
}
.search-and-filter .select2-selection__arrow {
	display: none;
}
.searchandfilter>ul>li label {
	vertical-align: middle;
	font-size: 0.8em;
}
.searchandfilter label {
	/* width: calc((100% / 6) - 12px); */ /* FARA buton de reset */
	width: calc((100% / 7) + 6px); /* varianta CU buton de reset */
	display: inline-block !important;
	padding: 1px 0;
}
.searchandfilter li.sf-field-taxonomy-luna_an label {
  min-width: 138px;
  max-width: calc((100% / 7) + 15px);
}
.searchandfilter select.sf-input-select {
    width: 100%;
	min-width: initial !important;
}
.searchandfilter .sf-input-select option {
	background-color: white;
}
.searchandfilter ul li input[type="submit"] {
  padding: 4px 7px;
  border-radius: 8px;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  border-color: #ee6753;
  background-color: #ee6753;
}
.searchandfilter ul li input[type="submit"]:hover {
  color: black;
}
.searchandfilter ul li input.search-filter-reset {
  font-weight: normal;
  margin-left: 3px;
}
/* combobox with select2 */
.select2-selection li.select2-selection__choice {
	height: 18px;
	line-height: 18px;
	margin: 0 !important;
}
/* end combo box with select2 */
div#content-box {
	padding-top: 5px !important;
}
#term {
    margin-left: 20px;
    margin-right: 20px;
}
@media (min-width: 1320px) {
	.search-and-filter > .searchandfilter > ul > li {
		display: inline !important;
		margin: 0;
	}
}
/* ... and for mobiles .. */
@media (max-width: 1319px) {
	.searchandfilter ul li {
		padding: 2px 0;
	}
	.search-and-filter-title {
	  margin: 5px !important;
	  font-weight: bold;
	  font-size: 12px;
	  display: inline-block;
	  width: calc(100% - 45px);
	}
	.searchandfilter label {
		width: calc(100% - 20px);
	}
	.search-and-filter ul {
		margin: 0;
		padding-top: 5px;
	}
	.search-and-filter .searchandfilter > ul > li> * {
		margin: 5px 0px 5px 10px;
	}
	.searchandfilter select.sf-input-select {
		padding: 5px;
	}
	.searchandfilter ul li input[type="submit"] {
		width: calc(100% - 20px);
		margin-bottom: 10px;
	}
	.searchandfilter li h4 {
		display: block;
		position: relative;
		margin-left: 12px !important;
	}
	.searchandfilter li.sf-field-taxonomy-luna_an label {
		max-width: 100%;
	}
	.searchandfilter ul li input.search-filter-reset {
		margin-left: 10px;
	}
	/* BEFORE filter title */
	.search-and-filter:before {
		content: url(/4test/wp-content/plugins/search-filter-pro-styling-for-travelator-master/plus-icon.png);
		vertical-align: -5px;
		margin-left: 8px;
	}
	.search-and-filter {
		padding-top: 0px;
	}
	div.post-template {
	  margin-bottom: 20px !important;
	}
}
/* Done styling tax filters */


/* ==== SQUIRREL AHEAD!! ==== */ 
 
/*-------------------------------------------
    Custom styles
-------------------------------------------*/

body.search-results #content-layout { background: white; }
#menu-responsive a { color: #FFF }

.offer-table{
  margin-top: 40px;
  margin-bottom: 0px;
}

.offer-table th{
  background: #2a3d4b;
  padding: 10px;
  font-size: 1.4em;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}
.offer-table th, .offer-table tr, .offer-table td{
  border: none !important;
}
.offer-table td{
  text-align: center;
  padding: 10px 12px;
}
.offer-table .offer-type {
  font-size: 20px;
  line-height: 1em;
  text-align: left;
  padding-left: 18px;
  padding-top: 8px;
}
.offer-table .offer-price {
  font-size: 3em;
  line-height: 1em;
  text-align: right;
  padding-right: 18px;
  padding-top: 14px;
}
.offer-table td{
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.offer-table .offer-locations td {
  font-size: 13px;
  padding-top: 25px;
  color: #808080;
  padding-top: 10px !important;
}
.offer-table td .separator {
	display: block;
    height: 1px;
    background: #ddd;
    width: 80%;
    margin: 15px auto 0;
}
.offer-cities td {
  text-transform: none;
}
.offer-bottom-btns {
  text-align: center;
  font-size: 18px;
}
.offer-bottom-btns .button-st {
  background-color: #96cd00;
  font-weight: bold;
  border-radius: 4px;
  color: #fff;
  font-size: .75em;
  border-bottom: 2px solid #90b000;
}

/*-------------------------------------------
    New article and tabs design Jan 2018
-------------------------------------------*/

#pre_next_post a.p:hover {
  box-shadow: -15px 0 #96cd00 inset, 0 5px 10px rgba(0,0,0,0.1);
}
#pre_next_post a.p:hover:before {
  border-color: #96cd00 transparent transparent transparent;
}
#pre_next_post a.p:hover:after {
  border-color: transparent transparent transparent #96cd00;
}
#pre_next_post a.p:hover div:before {
  border-color: transparent #96cd00 transparent transparent;
  box-shadow: 3px 0 #96cd00;
}
#pre_next_post span {
  color: #96cd00;
}
.posts-related-details-wrapper > div h5 a:hover {
  color: #005480;
}
.posts-related-details-wrapper > div h5 a {
  color: #4291ce;
}
.single-post .st-ul {
	border: 0;
}
.single-post .st-ul li {
  width: 33.33%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.single-post .tabs-2cols .st-ul li {
    width: 50%
}
.single-post .tabs-1cols .st-ul li {
    width: 100%
}
.single-post .st-ul li:first-of-type {
    border-right: 0 !important;
}
.single-post .st-ul li:last-of-type {
    border-left: 0 !important;
}
.single-post .st-ul li.st-current {
  background-color: rgb(238,103,83);
  border-top-color: #ddd;
  color: white;
}
.single-post .st-ul li.st-current:hover {
  border-top: 0;
}
#article article p img.alignnone.size-large {
  width: 100%;
}
.post-single div#article {
  padding-left: 58px;
  padding-right: 58px !important;
}
.post-single div.st-format-standard-holder, 
.post-single div.st-format-gallery-holder {
	padding-left: 58px !important;
	padding-right: 58px;
}
.st-format-standard-holder .wp-post-image, 
.st-format-gallery-holder .st-gallery img {
  min-height: 206px;
  object-fit: cover;
}
.post-single .st-format-standard-holder img {
  width: 100%;
}
.social-icons-flst {
  margin-top: 10px;
}
@media (min-width:640px) {
.post-single:before {
  left: 58px !important;
}
.post-single .meta, .post-single h1.post-title, .post-template h3.post-title, .post-template .meta {
  margin-left: 127px !important;
}
}
@media (max-width:639px) {
	.post-single div#article {
		padding-left: 18px;
		padding-right: 18px !important;
	}
	.post-single div.st-format-standard-holder, 
	.post-single div.st-format-gallery-holder  {
		padding-left: 18px !important;
		padding-right: 18px;
	}
	.single-post .st-ul li {
		letter-spacing: 0;
	}
	.post-single:before {
		left: 18px !important;
	}
}
.offer-time, .offer-from {
  font-size: 14px;
  font-weight: 100;
  text-transform: none;
  letter-spacing: normal;
  margin-right: 5px;
}
.offer-time {
	display: block;
}
@media (max-width:1319px) {
	.offer-time {
		font-size: 10px;
	}
}
td.offer-details-tab {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
.offer-details-tab .st-tabs {
  border: 0;
}
h4.offer-details-title {
  text-transform: initial;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 24px;
  color: #2a3d4b;
}
ul.offer-details-list {
  margin-left: 16px;
}
.r-zbor span:before {
  font-family: FontAwesome;
  content: "\f072";
  margin-right: 10px;
  font-weight: 100;
  font-size: 22px;
  vertical-align: middle;
}
.r-cazare span:before {
  font-family: FontAwesome;
  content: "\f1ad";
  margin-right: 10px;
  font-weight: 100;
  font-size: 22px;
  vertical-align: middle;
}
.r-transfer span:before {
  font-family: FontAwesome;
  content: "\f207";
  margin-right: 10px;
  font-weight: 100;
  font-size: 22px;
  vertical-align: middle;
}
 /* ====== Tabel preturi alternative ====== */
 /* TABLE table */
 .tab-alt-offers  {
  margin: 25px !important;
  width: calc(100% - 50px);
  display: table;
  border: 1px solid #ccc;
  border-collapse: separate;
}
.tab-alt-offers-caption {
  background-color: #ddd;
  color: #2a3d4b !important;
  font-size: 15px !important;
}
.tab-alt-offers tr td {
  text-transform: initial;
  color: #2a3d4b;
  font-size: 13px;
  font-weight: bold;
  padding: 10px !important;
  border-bottom: 1px solid #ccc;
}
/* Special pentru ecrane mari ..  */
@media (min-width:768px) {
	.tab-alt-offers-2cols tr td {
		  width: 50% !important;
	}
	.tab-alt-offers-3cols tr td {
		  width: 33.33% !important;
	}
}
/* .. si mici .. */
@media (max-width:767px) {
    .tab-alt-offers tr td:not(.tab-alt-offers-caption) {
    display: block;
    width: 100%;
    padding: 0px !important;
  }
    .tab-alt-offers tr td:not(.tab-alt-offers-caption) p {
    margin: 15px 0 !important;
  }
}

/*-------------------------------------------
    ALL THE LINKS :-)
-------------------------------------------*/
      a { color:#4291ce; } 
a:hover { color:#005480; }

/*-------------------------------------------
    Momondo widget Custom styles
-------------------------------------------*/

.mmd-widget-madeby{
  font-size: 0;
  line-height: 0;
}

.mmd-widget-form-date, .mmd-widget-form-option{
  width: calc(50% - 2px) !important;
}

.mmd-widget [type=text]{
  width: 100%;
}