.btnSelect button {
    background-color: transparent;
    color: #00ade5;
    font-weight: 700;
}

.btnSelect button:hover {
    background: #00ade5 !important;
    color: #fff !important;
}