
@media only screen and (max-width : 1400px) {
   .next{
      right: -5px;
   }
   .prev{
      left: -15px;
   }
}




@media only screen and (max-width : 1200px) {


   .p3-f-screen-info__item span{
      font-size: 12px;
   }


}


@media only screen and (max-width : 992px) {


   .slick-arrow{
      max-width: 7% !important;
   }

   .next{
      right: 80px;
   }
   .prev{
      left: 88px;
   }




   .p3-offer{
      padding: 60px 0;
   }

   .p3-aldar button{
      width: 100%;
   }

   .p3-property{
      .container-fluid{
         max-width: 720px;
         padding-right: 15px;
         padding-left: 15px;
         margin-right: auto;
         margin-left: auto;

      }
   }

   .p3-property__text{
      padding: 0 15px;
   }

   .p3-adout__wrapper{
      padding: 0;
   }
   .p3-adout__image{
      display: flex;
      justify-content: center;
      &:before{
         content: '';
      }
   }

   .p3-f-screen-info{
      padding: 20px 40px;
   }
   .p3-f-screen-info__item:nth-child(4):before{
         background: transparent;
   }

   .p2-second__item .px-4{
      padding-left: 4.4rem !important;
   }

   .p1-adout{
      padding-top: 60px;
   }

   .p2-adout{
      padding-top: 60px;

      &__text{
         padding-bottom: 60px;
      }
      &__wrapper{
         padding: 0;
      }
      &__video{
         box-shadow: 0 0 0 transparent;
         &:before{
            content: '';
         }
      }
   }



   .p2-f-screen {
      h1{
         font-size: 35px;
         margin: 10px 0;
      }
      .mw-100{
         max-width: 40% !important;
      }
      &-info {
         background: rgba(255,255,255,.2);
         &__item{
            margin: 0;
            &:before{
               background: transparent;
            }
            h3{
               font-size: 1.5rem;
            }
            span{
               font-size: 14px;
            }
         }
      }
   }

   .p1-offProject__item-text,
   .p1-readyProject__item-text {
      left: 180px;
   }

   .sliderItem{
      .px-4{
         padding-left: 1.8rem !important;
         padding-right: 1.8rem !important;
      }
   }

   .sliderItem{
      .px-4{
         padding-left: 1.8rem !important;
         padding-right: 1.8rem !important;
      }
   }

   .p1-adout__text{
      padding-bottom: 60px;
   }

}


@media only screen and (max-width : 768px) {

   .p3-property{
      padding: 30px 0;
   }

   .p3-f-screen-info__item:nth-child(3):before{
      background: transparent;
   }
   .p3-f-screen-info__item {
      padding: 0 5px;
      h3{
         font-size: 1.5rem;
      }
      span{
         font-size: 11px;
      }
   }

   .next{
      right: 23px;
   }
   .prev{
      left: 35px;
   }
   .slick-arrow{
      max-width: 9% !important;
   }

   .p3-floor{
      padding-bottom: 60px;
   }

   .p3-property{
      .container-fluid{
         max-width: 540px;
      }
   }



   .p2-adout{
      padding-bottom: 0;
   }

   .p2-second__item .px-4{
      padding-left: 1.5rem !important;
   }


   .p1-offProject__item-text,
   .p1-readyProject__item-text {
      left: 100px;
   }

   .sliderItem{
      .px-4{
         padding-left: 4rem !important;
         padding-right: 4rem !important;
      }
   }
   .sliderItem{
      .px-4{
         padding-left: 4rem !important;
         padding-right: 4rem !important;
      }
   }

   .p2-f-screen {
      .mw-100 {
         max-width: 30% !important;
      }
   }

   .p1-offProject{
      h2{
         font-size: 1.8rem;
      }
   }

   .p1-readyProject{
      padding-top: 60px;
   }

}


@media only screen and (max-width : 576px) {

   .next{
      top: 45%;
   }
   .prev{
      top: 45%;
   }

   .p3-floor{
      button{
         width: 100%;
         margin: 5px 10px !important;
      }
   }

   .p3-property__text h2:before{
      top: 60%;
   }


   .p3-f-screen-info__item:nth-child(2):before{
      background: transparent;
   }
   .p3-f-screen-info__item:before{
      right: -25px;
   }

   .p3-f-screen-info{
      width: 100% !important;
      &__item{
         flex-direction: column;
         max-width: 30% !important;
         flex: 0 0 30% !important;
         text-align: center;
         &:first-child{
            padding-right: 10px;
         }
      }
      span{
         font-size: 12px;
      }
      h3{
         font-size: 1.8rem;
      }
   }

   .slick-arrow{
      max-width: 10% !important;
   }


   .p3-property{
      .container-fluid{
         max-width: 100%;
      }
   }


   .p1-adout__wrapper{
      padding-bottom: 0;
   }

   .p2-second{
      h2{
         font-size: 1.5rem;
         &:before{
            background: none;
         }
         &:after{
            background: none;
         }
      }
   }

   .p2-f-screen {
      .mw-100 {
         max-width: 25% !important;
      }
   }

   .p1-f-screen{
      h1{
         padding-bottom: 10px;
      }
      &-info{
         padding-top: 40px;
      }

   }
   .p1-offProject{
      h2{
         font-size: 1.5rem;
         &:before{
            background: none;
         }
         &:after{
            background: none;
         }
      }
   }

   .p1-readyProject{
      h2{
         font-size: 1.5rem;
         &:before{
            background: none;
         }
         &:after{
            background: none;
         }
      }
   }

}


@media only screen and (max-width : 500px) {
   .next{
      right: 18px;
   }
   .prev{
      left: 21px;
   }
}




@media only screen and (max-width : 450px) {
   .p1-offProject__wrapperBtn{
      flex-direction: column;
      padding: 25px 0;
      button{
         margin-bottom: 20px;
      }
   }
   .p1-readyProject__wrapperBtn{
      flex-direction: column;
      padding: 25px 0;
      button{
         margin-bottom: 20px;
      }
   }
}
@media only screen and (max-width : 400px) {
   .p1-f-screen{

      &__text{
         padding-bottom: 10px;
         align-items: center !important;
         h1{
            margin-bottom: 10px;
         }
      }

      &-info{
         flex-direction: column;
         text-align: center;
         .col-4{
            max-width: 100% !important;
            flex:0 0  100% !important;
            margin-bottom: 10px;
         }
      }

   }
}

@media only screen and (max-height : 500px) {

}


@media only screen and (max-height : 500px) and (orientation:landscape) {

}