$blue: #00ade5;
$grey: #333333;



.btnActive{
   background: $blue !important;
   color: #fff !important;
}





.slick-dots li.slick-active button:before{
   color: $blue !important;
}

.slick-next{
    right: 0;
}
.slick-next:before, .slick-prev:before{
    color: #000;
    font-size: 50px;
}
.slick-arrow{
    z-index: 99;
}
h2{
   color: #000;
}

html{
    scroll-behavior: smooth;
}
//.prev{
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 0;
//   button{
//      width: 50px;
//      height: 50px;
//      background: #fff;
//      box-shadow: 1px 1px 100px #000;
//      border-radius: 50%;
//      border: 0 none;
//   }
//}
//.next{
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 0;
//}


button{
   background: $blue;
   padding: 15px 35px;
   border: 2px solid $blue;
   color: #ffffff;
   transition: .3s;
   &:hover{
      background: #fff;
      color: $blue;
   }
}


.p1-f-screen{
   background: url("../img/f-screen_page1.png") no-repeat center center;
   background-size: cover;
   height: 500px;
   color: #fff;

   h1{
      font-size: 50px;
   }
   &__text{
      padding-bottom: 80px;
   }
}
.p1-adout{
   padding-top: 120px;
   padding-bottom: 60px;
   color: #000;

   &__wrapper{
      padding-bottom: 60px;
   }

   h2{
      padding-bottom: 60px;
   }

   &__text{
      h2{
         position: relative;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 30px;
            width: 80px;
            height: 5px;
            background: $blue;
         }
      }
   }

}

.p1-offProject{
   padding-top: 60px;
   span{
      color: $grey;
   }
   button{
      background: transparent;
      padding: 15px 35px;
      border: 2px solid $blue;
      color: $blue;
      font-weight: bold;
      transition: .3s;
      &:hover{
         background: $blue;
         color: #fff;
      }
   }

   h2{
      position: relative;
      &:before{
         content: '';
         position: absolute;
         left: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
      &:after{
         content: '';
         position: absolute;
         right: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
   }

   &__wrapperBtn{
      padding: 45px 0;
   }

   &__item {

      &-img {
         position: relative;
      }

      &-text {
         position: absolute;
         bottom: 30px;
         left: 30px;
         color: $grey;
         background: #fff;
         padding: 5px 10px;
         font-size: 14px;
         font-weight: bold;
      }

      h3 {
         color: $grey;
         font-size: 22px;
      }

   }
   //.slick-next:before{
   //   color: #000;
   //}

}

.p1-readyProject{
   padding-top: 120px;

   span{
      color: $grey;
   }
   h2{
      position: relative;
      &:before{
         content: '';
         position: absolute;
         left: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
      &:after{
         content: '';
         position: absolute;
         right: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
   }
   button{
      background: transparent;
      color: $blue;
      border: 1px solid $blue;
      font-weight: bold;
      &:hover{
         background: $blue;
         color: #fff;
      }
   }
   .active{
      background: $blue;
      color: #fff;
   }


   &__wrapperBtn{
      padding: 45px 0;
   }



   &__item {

      &-img {
         position: relative;
      }

      &-text {
         position: absolute;
         bottom: 30px;
         left: 40px;
         font-size: 14px;
         font-weight: bold;
      }
      &-left{
         border-radius: 5px;
         color: $grey;
         background: #fff;
         padding: 5px 10px;
      }
      &-right{
         border-radius: 5px;
         padding: 5px 10px;
         color: #fff !important;
         background: green;
      }

      h3 {
         color: $grey;
         font-size: 22px;
      }

      h5{
         color: $blue;
      }
      .images{
         border-bottom: 1px solid #e0e1e3;
      }
   }
}







.p2-f-screen{
   background: url("../img/f-screen_page2.png") no-repeat center center, rgba(0,0,0, .6);
   background-blend-mode: multiply;
   background-size: cover;
   height: 500px;
   color: #fff;


   h1{
      font-size: 40px;
   }
   &__text{

   }

   &-info{
      margin-top: 50px;
      background: rgba(255,255,255,.3);
      padding: 20px 0;

      &__item{
         position: relative;
         margin-right: 20px;
         &:last-child:before{
            background: transparent;
         }
         &:before{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255,255,255,.6);
            width: 2px;
            height: 80px;
         }
      }
   }
}
.p2-adout{
   padding-top: 120px;
   padding-bottom: 60px;
   color: #000;

   &__wrapper{
      padding-bottom: 60px;
   }

   &__video{
      box-shadow: 60px 60px 0 #eee;
      position: relative;
      z-index: 10;
      &:before{
         content: url("../img/adou_bg.png");
         position: absolute;
         top: -50px;
         left: -50px;
         z-index: -1;
      }
   }

   h2{
      padding-bottom: 60px;
   }

   &__text{
      h2{
         position: relative;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 30px;
            width: 80px;
            height: 5px;
            background: $blue;
         }
      }
   }

}
.p2-second{
   padding-top: 60px;

   h2{
      position: relative;
      &:before{
         content: '';
         position: absolute;
         left: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
      &:after{
         content: '';
         position: absolute;
         right: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
   }

   &__wrapperBtn{
      padding: 45px 0;
   }

   &__item {
      h3 {
         color: $grey;
         font-size: 22px;
      }

      &-span {
         color: $grey;
      }


   }

}




.p3-f-screen{
   background: url("../img/f-screen_page3.png") no-repeat center center, rgba(0,0,0, .6);
   background-blend-mode: multiply;
   background-size: cover;
   height: 650px;
   color: #fff;


   h1{
      font-size: 40px;
   }
   &__title{
      .span{
         position: relative;
         padding-left: 30px;
         &:after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background: $blue;
            width: 3px;
            height: 90%;
         }
      }
      &__btn-active{
         background: #fff;
         border: 2px solid #fff;
         color: $grey;
         font-weight: bold;
         transition: .3s;
         &:hover{
            background: $blue;
            border: 2px solid $blue;
            color: #fff;
         }
      }
   }

   &-info{
      margin-top: 50px;
      background: rgba(255,255,255,.4);
      padding: 20px 0;

      &__item{
         position: relative;
         &:last-child:before{
            background: transparent;
         }
         &:before{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255,255,255,.6);
            width: 2px;
            height: 80px;
         }
      }
   }
}
.p3-adout{
   padding-top: 120px;
   padding-bottom: 60px;
   color: $grey;

   &__wrapper{
      padding-bottom: 60px;
   }

   &__image{
      position: relative;
      z-index: 10;
      &:before{
         content: url("../img/adou_bg.png");
         position: absolute;
         bottom: -50px;
         left: -50px;
         z-index: -1;
      }
   }

   h2{
      padding-bottom: 60px;
   }

   &__text{
      h2{
         position: relative;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 30px;
            width: 120px;
            height: 5px;
            background: $blue;
         }
      }
   }
}
.p3-property{
   margin: 60px 0;
   background: #f9f9f9;


   &__text{
      padding-left: 80px;
      h2 {
         position: relative;
         width: max-content;
         color: $grey;
         &:before {
            content: '';
            position: absolute;
            right: -60px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 5px;
            background: $blue;
         }
      }

      &-item{

         img{
            padding: 10px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #e9e9e9;
         }
         span{
            color: $grey;
         }
      }

   }
}
.p3-floor{

   h2{
      width: max-content;
      position: relative;
      &:before{
         content: '';
         position: absolute;
         left: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
      &:after{
         content: '';
         position: absolute;
         right: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
   }


   button{
      background: transparent;
      border: 1px solid $blue;
      color: $blue;
      &:hover{
         background: $blue;
         color: #fff;
      }
   }

   .btnActive{
      color: #fff;
      background: $blue;
   }

}
.p3-payment{

   h2{
      width: max-content;
      position: relative;
      &:before{
         content: '';
         position: absolute;
         left: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
      &:after{
         content: '';
         position: absolute;
         right: -60px;
         top: 50%;
         transform: translateY(-50%);
         width: 40px;
         height: 5px;
         background: $blue;
      }
   }

   &__wrapper{
      background: url("../img/p3-paymentBg.png") no-repeat center center;
      background-size: cover;
   }

   &__item{
      background: #fff;
      border: 1px solid #dedede;
      span{
         color: $blue;
         font-size: 20px;
      }
      h3{
         font-size: 50px;
      }
      p{
         font-size: 20px;
      }
   }



   button{
      background: transparent;
      color: $blue;
      border: 1px solid $blue;
      &:hover{
         background: transparent;
         color: $blue;
      }
   }


}
.p3-aldar{
   background: #f5f5f5;
}
.p3-offer{
   padding: 120px 0;


   &__title{
      position: relative;
      &:before{
        content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         background: $blue;
         width: 120px;
         height: 3px;
      }
      h2{
         font-weight: normal;
      }
   }

   input,
   select{
      font-size: 18px;
      padding: 10px;
      border: 1px solid #e1e1ec;
      margin-bottom: 15px;
      color: #999;
      width: 100%;
   }

   &__img img{
      box-shadow: 80px -30px 0 $blue;
   }
}
.p3-bg{
   background: url("../img/p3-bg.png") no-repeat center center, rgba(0,0,0, .6);
   background-size: cover;
   background-blend-mode: multiply;
   color: #fff;
   padding: 120px 0;
   h2{
      color: #fff;
      position: relative;
      width: max-content;
      &:before{
         content: '';
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: -70px;
         background: $blue;
         width: 50px;
         height: 5px;
      }
   }
}




.prev{
   position: absolute;
   top: 50%;
   //transform: translateY(-50%) rotate(180deg);;
   transform: translateY(-50%);
   left: -30px;

}
.next{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: -30px;
}



.slick-arrow{
   max-width: 5% !important;
}





