.bannerText{
	/* padding-top: 265px; -------------------------------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-------------------------------- */
}


body{
	overflow-x: hidden;
}

.home_video{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
}
#home_video{
	top: 50% !important;
	transform: translateY(-50%);
}

body.page-template-template-contact{
	overflow-x: hidden;
}

.logged-in #stickyMenu{
	top: 30px;
}

[class^="icon-"]{
	display: inline-block;
	height: 16px;
}

[class^="icon-"]:before, [class*=" icon-"]:before{
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

.socialIcons{
	display: inline-block;
}

.footer .areaSelect .areaSelect-btn{
	padding: 5px 10px;
	transition: color .5s;
}
.footer .areaSelect .areaSelect-btn:not(.active):hover{
	color: #02b2ee;
}

.facebook-social{
	padding-left: 12px;
	padding-right: 12px;
}

.with-logo{
	padding-top: 3px;
}

.with-logo img{
	width: 160px !important;
}
.menusContainer .menu{
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
}

.menusContainer .menu li{
	list-style: none;
	padding-left: 0;
}

.menu .sub-menu{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding: 10px 15px;
	border-top: 2px solid #02B2EE;
	box-shadow: 0 40px 50px 0 rgba(9, 32, 49, 0.18);
	background-color: #fff;
	transition: all 200ms linear;
	z-index: 2;
	min-width: 120px;
}

.menu .sub-menu .menuItem{
	color: #000;
	margin: 0;
	transition: color .5s;
	position: relative;
}
.menu .sub-menu .menuItem:after{
	content: "";
	position: absolute;
	bottom: -2px;
	width: 100%;
	right: 0;
	height: 1px;
	background: #02b2ee;
	transition: max-width .5s;
	max-width: 0;
}
.menu .sub-menu .menuItem:hover{color: #02b2ee}
.menu .sub-menu .menuItem:hover:after{
	max-width: 100%;
	left: 0;
	right: auto;
}
.sub-menu.active{
	visibility: visible;
	opacity: 1;
}


.menusContainer .menuItem{
	margin-right: 15px;
}

.awardImg img,
.awardLogo img,
.ownerImg img{
	object-fit: contain;
}

.logoContainer img{
	width: 190px;
}

.advImg img{
	width: 80px;
	height: 70px;
}

header a.contactContainer:hover{
	text-decoration: none;
}

.whatContainer{
	font-family: GothamPro, sans-serif;
	margin-top: 5px;
	cursor: pointer;
	vertical-align: top;
	display: inline-block;
}

.whatContainer:hover{
	text-decoration: none;
}

.whatContainer img{
	width: 18px;
	height: 18px;
	margin-right: 1px;
	margin-top: -1px;
}

.whatContainer span{
	font-family: GothamProBold;
	font-size: 14px;
	color: #fff;
	position: relative;
}
.whatContainer span:after{
	position: absolute;
	content: "";
	background-color: #25D366;
	right: 0;
	bottom: -2px;
	height: 1px;
	width: 100%;
	max-width: 0;
	transition: max-width .3s ease-in-out;
}
.whatContainer:hover span:after{
	left: 0;
	right: auto;
	max-width: 100%;
}
.scroll .whatContainer span, .pageHeader .whatContainer span{color: #333}

.page-template .bannerPM,
.page-template .bannerAbout,
.blogBanner{
	padding: 80px 0 0;
	min-height: 660px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-template .bannerAbout{
	align-items: flex-start;
}
.bannerAbout .container{margin-top: 80px}
.bannerAbout .aboutText3:last-child{
	margin-bottom: 0;
}
.aboutBlock{
	margin-bottom: 25px;
}

#stickyMenu{
	z-index: 5;
}

body.home #stickyMenu.scroll{
	filter: none;
}

.home .bannerText{
	position: relative;
	/*text-shadow: -2px -2px 5px #000;*/
	z-index: 1;
}
body.pageHeader{padding-top: 82px;}
#stickyMenu.pageHeader{
	position: absolute;
	background: #fff;
}

.btnContainer{
	float: none;
	/*padding-left: 80px;*/
}

.pageHeader .langContainer{
	margin-left: 0;
}

#stickyMenu.scroll{
	position: fixed !important;
}

.home-video-content{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.home .banner{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.home .banner .bannerText{
	width: 80%;
	/*height: 125px;*/
	/*position: absolute;*/
	/*left: 0;*/
	/*right: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*padding: 0;*/
	max-width: 860px;
	padding-top: 0;
	padding-bottom: 100px;
}
.home .banner .bannerHeading{
	font-size: 56px;
}

.bb-0 td{
	border-bottom: 0 !important;
}

.vote-block span.rating-text{
	display: block;
}

.paginationList .prev img{
	transform: rotate(180deg);
}

.paginationCont .prev img{
	transform: rotate(-180deg);
}

.paginationCont{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.paginationCont .page-numbers{
	display: inline-block;
	font-family: GothamProBold, sans-serif;
	height: 42px;
	width: 42px;
	font-size: 18px;
	font-style: normal;
	font-stretch: normal;
	line-height: 42px;
	letter-spacing: normal;
	color: #333;
	margin: 3px;
	background-color: #fff;
}

.paginationCont .page-numbers:last-child{
	margin-right: 0;
}

.paginationCont a.page-numbers,
.paginationCont .current{
	border: solid 1px #02b2ee;
	text-decoration: none;
}

.paginationCont .page-numbers:hover,
.paginationCont .current{
	background-color: #02b2ee;
	color: #fff;
}
.paginationCont .page-numbers.dots{
	background: transparent !important;
	color: #333 !important;
}

.paginationCont a.prev,
.paginationCont a.next{
	border: none;
	background-color: #fff;
}

.paginationCont a.prev:hover,
.paginationCont a.next:hover{
	border: solid 1px #02b2ee;
	background-color: #fff;
}

.wpcs_price_symbol{
	display: none;
}

.imageContainer a{
	display: block;
	transition: all 500ms linear;
}

.imageContainer a::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.imageContainer .object-pic{
	height: 380px;
	object-fit: cover;
}

.footer .menu{
	padding-left: 0;
	margin-left: 0;
	margin-top: 15px;
	list-style: none;
}
.footer .menu a{
	font-family: GothamPro, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;
	letter-spacing: normal;
	color: #555;
	text-decoration: none;
	transition: color .5s;
}
.menu-footer-menu-en-container a:before{
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #555;
	float: left;
	content: "";
	margin-right: 8px;
	margin-top: 11px;
	transition: background-color .5s;
}
.menu-footer-menu-en-container a:hover:before{
	background-color: #02b2ee;
}

.community-select{
	text-overflow: ellipsis;
}

.postMain p:last-of-type{
	padding-bottom: 0;
	margin-bottom: 0;
}

.img-post{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img-post a{
	display: block;
}

.img-post-item{
	width: 240px;
	max-height: 160px;
	object-fit: cover;
	margin-top: 15px;
}

.select2-container--default .select2-selection--single{
	border: 0 !important;
	border-radius: 0 !important;
	border-bottom: solid 1px #60636f !important;
}

.irs-grid-text{
	/*display: none;*/
}

.irs--round .irs-handle{
	border-color: #02b2ee;
}

.irs--round .irs-bar,
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single{
	background-color: #02b2ee;
}

.range-price-label{
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
}

.col-menu{
	max-width: 1180px;
	justify-content: space-between;
}


@keyframes load{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@media (max-width: 1200px){
	.col-menu{
		justify-content: center;
	}

	.menusContainer{
		margin-left: 15px;
	}

	.btnContainer{
		margin-left: 15px;
	}

	.mobileMenu .langContainer{
		float: none;
		margin: 0 auto;
	}

	.mobileMenu .contactContainer{
		float: none;
	}

	.home .banner .bannerHeading{
		font-size: 48px;
	}
	.home .banner .bannerText{
		padding-bottom: 70px;
	}
}
@media all and (max-width: 1024px){
	.home .banner{max-height: 560px}
	.home .banner .bannerHeading{font-size: 40px}
	.whatContainer{margin-top: 10px}
}

@media (max-width: 767px){
	.paginationCont{
		position: relative;
		margin-top: 20px;
	}


	.whatContainer{
		display: flex;
	}

	.img-post a{
		width: 100%;
	}

	.img-post-item{
		width: 100%;
		max-height: 200px;
	}

	.col-menu{
		justify-content: flex-start;
	}
	.home .banner .bannerHeading{font-size: 28px}
	.whatContainer img{
		width: 24px;
		height: 24px;
		margin-right: 5px;
		margin-top: 0px;
	}
	.mobileMenu .langContainer{
		display: block;
		order: 2;
		margin-top: 25px;
	}
	.logoContainer img{
		width: 170px;
	}
		
	.page-template .bannerPM,
	.page-template .bannerAbout,
	.blogBanner{
		padding: 100px 0 0;
		min-height: 460px;
	}
	.page-template .bannerAbout{
		min-height: 500px;
	}
	.bannerAbout .container{margin-top: 20px}
}
